<div class=" d-flex align-items-center justify-content-center mt-3 w-100 step-four-container" >
  <form [formGroup]="form" class="campaign-setting-container d-flex gap-5 flex-column align-items-center justify-content-center " style="    width: 60%;
  height: 480px;
  max-width: 640px;
  min-width: 540px;">

    <!-- first line -->
    <label class="d-flex lable-small-screen w-100"  >
      <span>{{ 'randomizeIntervalLabel' | translate }}</span>
        <sr-tooltip
        class="mx-2"
        [text]="'campaign_Randomize_interval_tooltip' | translate"
        [readMoreLink]="'link'">
        </sr-tooltip>
    </label>

    <div class="w-100  d-flex justify-content-between align-items-center">
      <label class="d-none lable-large-screen"  style="width:30%">
        <span>{{ 'randomizeIntervalLabel' | translate }}</span>
        <sr-tooltip
        class="mx-2"
        [text]="'campaign_Randomize_interval_tooltip' | translate"
        [readMoreLink]="'link'">
        </sr-tooltip>
      </label>

      <div style="width:20%" class="form-check form-switch">
        <input [checked]="isIntervalChecked" (change)="isInterval=!isInterval; onSwitcherChange($event,[intervalFrom,intervalTo])" class="form-check-input me-3" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      </div>

      <div style="width:42%; position: relative;" id="interval" class="d-flex align-items-center justify-content-between">
        <div class="d-flex intervals flex-column" style="width: 136px;">
          <us-input
            value=""
            type="number"
            [error]="false"
            [fullWidth]="true"
            [min]="minNum"
            formControlName="intervalFrom"
          ></us-input>
        </div>
        <span class="mx-3">{{ 'toLabel' | translate }}</span>
        <div class="intervals" style="width:136px">
          <us-input
            value=""
            type="number"
            [error]="false"
            [fullWidth]="true"
            [min]="minNum"
            formControlName="intervalTo"
          ></us-input>
        </div>
        <div *ngIf="form.hasError('intervalInvalid')" class="hint error" style="position: absolute; bottom: -31px;">
          <i class="si-info"></i>
          <p class="txt txt-xs">{{ 'invalidIntervalHint' | translate }}</p>
        </div>
      </div>
    </div>

    <!-- second line -->
    <!-- <div class="w-100  d-flex justify-content-between align-items-center">
      <label style="width:30%">{{ 'maxRecipientsLabel' | translate }}</label>
      <div style="width:42%" class="d-flex align-items-center justify-content-between">
        <div class="d-flex  flex-column" style="width: 136px; position: relative;">
          <us-input
            value=""
            type="number"
            [error]="false"
            [fullWidth]="true"
            [min]="minNum"
            [max]="maxNum"
            formControlName="maxPerDay"
          ></us-input>
          <div *ngIf="maxPerDay.value > maxNum" class="hint error" style="position: absolute; bottom: -31px;">
            <i class="si-info"></i>
            <p class="txt txt-xs">{{ 'invalidNumberHint' | translate }}</p>
          </div>
        </div>
      </div>
    </div> -->

    <!-- third line -->
    <label class="d-flex lable-small-screen  w-100" >
      <span>{{ 'repeatEveryLabel' | translate }}</span>
      <sr-tooltip
      class="mx-2"
      [text]="'campaign_Repeat_every_tooltip' | translate"
      [readMoreLink]="null">
      </sr-tooltip>
      </label>
    <div class="w-100  d-flex justify-content-between align-items-center">
      <label class="d-none lable-large-screen" style="width:30%"> 
        <span>{{ 'repeatEveryLabel' | translate }}</span>
        <sr-tooltip
        class="mx-2"
        [text]="'campaign_Repeat_every_tooltip' | translate"
        [readMoreLink]="null">
        </sr-tooltip></label>
      <div style="width:20%" class="form-check form-switch">
        <input  [checked]="isRepeatable"  (change)="isRepeatable=!isRepeatable; changeValue(); onSwitcherChange($event,[repeatedDays])" class="form-check-input me-5" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      </div>

      <div style="width:42%" id="repeatedDays" class="d-flex align-items-center gap-4">
        <div class="d-flex  flex-column" style="width: 40%; position: relative;">
          <us-input
            value=""
            type="number"
            [error]="false"
            [fullWidth]="true"
            [min]="minNum"
            [max]="maxNum"
            formControlName="repeatedDays"
          ></us-input>
          <div *ngIf="repeatedDays.value > maxNum" class="hint error" style="position: absolute; bottom: -31px;">
            <i class="si-info"></i>
            <p class="txt txt-xs">{{ 'invalidNumberHint' | translate }}</p>
          </div>
        </div>
        <span>{{ 'daysLabel' | translate }}</span>
      </div>
    </div>

    <!-- last line -->
    <label class="d-flex lable-small-screen w-100">
      <span>{{ 'sendingOutTimeLabel' | translate }}</span>
      <sr-tooltip
      class="mx-2"
      [text]="'campaign_Sending_out_time_tooltip' | translate"
      [readMoreLink]="'link'">
      </sr-tooltip>
      </label>

    <div class="w-100  d-flex justify-content-between align-items-center">
      <label class="d-none lable-large-screen" style="width:30%">
        <span>{{ 'sendingOutTimeLabel' | translate }}</span>
        <sr-tooltip
        class="mx-2"
        [text]="'campaign_Sending_out_time_tooltip' | translate"
        [readMoreLink]="'link'">
        </sr-tooltip>
        </label>
      <div style="width:20%" class="form-check form-switch">
        <input [checked]="isSendingOutTimeChecked" (change)="isSendingOutTimeChecked = !isSendingOutTimeChecked ;onSwitcherChange($event,[time1,time2])" class="form-check-input me-3" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      </div>
      <div class="d-flex  flex-column" id="sendingOut" style="width:42%; position: relative;">
        <div class="d-flex align-items-center justify-content-between">
          <div style="width:250px" class="time-picker">
       
            <nz-time-picker
            #timePicker1
            style="padding: 0 12px;"
            class="rounded-pill border border-1py-2 txt-input w-100"
            [nzUse12Hours]="true"
            formControlName="time1"
            nzFormat="h:mm a"
            [nzPopupClassName]="'custom-panel'"
            [nzAddOn]="customTim1Footer"

          >

              <ng-template #customTim1Footer>
                <div class="custom-footer d-flex align-items-center justify-content-between" >
                  <span class="text-primary-800 pointer" (click)="setTimeToNow(time1)">Now</span>
                  <div class="d-flex align-items-center">
                    <button class="bg-primary-800 custom-btn-ok text-white" (click)="onOkClick(timePicker1)"><span>ok</span></button>
                  </div>
                </div>
                </ng-template>
          </nz-time-picker>

          </div>
          <span class="mx-3">{{ 'toLabel' | translate }}</span>
          <div style="width:250px">
            <nz-time-picker
            #timePicker2
            [nzPopupClassName]="'custom-panel'"
            style="padding: 0 12px;"
              class="rounded-pill border border-1 py-2 txt-input w-100"
              [nzUse12Hours]="true"
              formControlName="time2"
              nzFormat="h:mm a"
              [nzAddOn]="customTim2Footer"
            >
            <ng-template #customTim2Footer>
              <div class="custom-footer d-flex align-items-center justify-content-between" >
                <span class="text-primary-800 pointer" (click)="setTimeToNow(time2)">Now</span>
                <div class="d-flex align-items-center">
                  <button class="bg-primary-800 custom-btn-ok text-white" (click)="onOkClick(timePicker2)"><span>ok</span></button>
                </div>
              </div>
              </ng-template>
          </nz-time-picker>
          </div>
        </div>

      </div>
    </div>

  </form>
</div>
