<div class="bg-white sidnav-container py-3 d-flex flex-column square scrollbar-dusty-grass square thin">
  <div (click)="$event.stopPropagation()" class="d-flex justify-content-between align-items-center user-info-container w-100">
    <div class="user-info d-flex gap-3 align-items-center">
      <div class="user-img d-flex justify-content-center align-items-center bg-primary-400">
        <div class="chars text-neutral-0 txt-md">
          {{ chars }}
        </div>
      </div>

      <div class=" d-flex flex-column gap-2">
       <span class="user-name text-neutral-900 txt-md"> {{ userName }}</span>
       <span class="text-primary-800 txt-sm ">({{role |translate}})</span>
      </div>
    </div>
    <div class="options_icon" (click)="showOptions();">
      <mat-icon class="text-primary-800 txt-lg">more_vert</mat-icon>
    </div>
  </div>

  <ng-container (appClickOutside)="show = false" *ngIf="show">
    <ul  style="cursor: pointer;" class="user-options d-flex p-4 bg-neutral-0 zi-5 flex-column">
      <li class="opt" (click)="openSettingModal()">
        <a routerLinkActive="active" class="text-neutral-600 d-flex">
          <div class="icon">
            <img src="assets/icons/settings.svg" alt="" />
          </div>
          <span class="txt-md">{{ "SETTINGS" | translate }}</span>
        </a>
      </li>
      <li class="opt" (click)="openLogOutConfirmation()">
        <a routerLinkActive="active"  class="text-neutral-600 d-flex">
          <div class="icon">
            <img src="assets/icons/logout.svg" alt="" />
          </div>
          <span class="txt-md">{{ "LOGOUT" | translate }}</span>
        </a>
      </li>
    </ul>
  </ng-container>

  <div class="all-options-container d-flex justify-content-between flex-column h-100 overflow-auto px-3">
    <ul class="d-flex flex-column gap-2">
      <!-- <li>
        <a routerLinkActive="active" routerLink="/dashboard" class="text-neutral-600 d-flex">
          <div class="icon">
            <img src="assets/icons/dashboard-1.svg" alt="" />
          </div>
          <span class="">{{ "DASHBOARD" | translate }}</span>
        </a>
      </li> -->
      <li>
        <a routerLinkActive="active" routerLink="/messages" class="text-neutral-600 d-flex">
          <div class="icon">
            <img src="assets/icons/message-1.svg" alt="" />
          </div>
          <span class="">{{ "MESSAGES" | translate }}</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/compaigns" class="text-neutral-600 d-flex">
          <div class="icon">
            <img src="assets/icons/campaign-1.svg" alt="" />
          </div>
          <span class="">{{ "CAMPAIGNS" | translate }}</span>
        </a>
      </li>
      <li *ngIf="permissions?.Templates">
        <a routerLinkActive="active" routerLink="/templates" class="text-neutral-600 d-flex">
          <div class="icon">
            <img src="assets/icons/templates-1.svg" alt="" />
          </div>
          <span class="">{{ "TEMPLATES" | translate }}</span>
        </a>
      </li>
      <li *ngIf="permissions?.Contacts">
        <a routerLinkActive="active" routerLink="/contacts" class="text-neutral-600 d-flex">
          <div class="icon">
            <img src="assets/icons/manage-contacts-1.svg" alt="" />
          </div>
          <span class="">{{ "MANAGE CONTACTS" | translate }}</span>
        </a>
      </li>
      <li *ngIf="!isUser">
        <a routerLinkActive="active" routerLink="/users" class="text-neutral-600 d-flex ">
          <div class="icon">
            <img src="assets/icons/users-1.svg" alt="" />
          </div>
          <span class="">{{ "USERS" | translate }}</span>
        </a>
      </li>
      <li *ngIf="permissions?.Devices">
        <a routerLinkActive="active" routerLink="/devices" class="text-neutral-600 d-flex ">
          <div class="icon">
            <img src="assets/icons/devices-1.svg" alt="" />
          </div>
          <span class="">{{ "DEVICES" | translate }}</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/chats" class="text-neutral-600 d-flex">
          <div class="icon">
            <img src="assets/icons/chats-1.svg" alt="" />
          </div>
          <span class="">{{ "CHATS" | translate }}</span>
        </a>
      </li>
      <li >
        <a routerLinkActive="active" routerLink="/bots" class="text-neutral-600 d-flex ">
          <div class="icon">
            <img src="assets/icons/bot.svg" alt="" />
          </div>
          <span class="">{{ "bot" | translate }}</span>
        </a>
      </li>
      <li >
        <a routerLinkActive="active" routerLink="/info" class="text-neutral-600 d-flex ">
          <div class="icon">
            <img src="assets/icons/info.svg" alt="" />
          </div>
          <span class="">{{ "info" | translate }}</span>
        </a>
      </li>
      <li *ngIf="role === 'Customer'">
        <a routerLinkActive="active" routerLink="/billing" class="text-neutral-600 d-flex">
          <div class="icon">
            <img src="assets/icons/billing-1.svg" alt="" />
          </div>
          <span class="">{{ "BILLING" | translate }}</span>
        </a>
      </li>
      <!-- <li>
        <a routerLinkActive="active" routerLink="/videos" class="text-neutral-600 d-flex">
          <div class="icon">
            <img src="assets/icons/video-1.svg" alt="" />
          </div>
          <span class="">{{ "VIDEOS" | translate }}</span>
        </a>
      </li> -->
      <!-- <li class="mb-3">
        <a routerLinkActive="active" routerLink="/notes" class="text-neutral-600 d-flex">
          <div class="icon">
            <img src="assets/icons/notes-1.svg" alt="" />
          </div>
          <span class="">{{ "NOTES" | translate }}</span>
        </a>
      </li> -->
  
    </ul>
  

  </div>
  <div class="versions mx-3 d-flex justify-content-between  text-primary-800 " style=" border-top: 1px solid #C7C6C6; height: 50px;">
    <span [title]="'versions' | translate">{{frontVersion}} / {{backVersion}}</span>
    <div class="icon p-0 m-0 pointer" [title]="'HELP' | translate" >
    <img src="assets/icons/help-1.svg" class="w-100" alt="" />
    </div>
  
   
  </div>
</div>
