<section class=" us-input d-flex gap-lg-4 gap-2" [ngClass]="{fullWidthAndHeight,'flex-column flex-lg-row':labelTopInMobileView}">
  <!-- Label & optional indicator -->
  <ng-container *ngIf="!labelTopInMobileView">
  <div
    class="label-widget text-start w-25 input-label"
    *ngIf="optional || label"
    style="min-width: 25%;"
  >
    <label class="label txt txt-sm text-nowrap d-flex" [for]="key"
      >
      <span class="text-wrap text-black txt txt-sm" style=" line-height: 1.3; ">{{ label }}</span>
      <span style="color: red;margin-left: 2px;">{{
        optional ? "" : "*"
      }}</span>
      <ng-container *ngIf="withTooltip">
        <sr-tooltip
        class="mx-2"
        [text]="tooltipMsg"
        [readMoreLink]="tooltipReadMoreLink"
        >

        </sr-tooltip>
      </ng-container></label
    >
    <!-- <p class="optional txt txt-sm" *ngIf="optional">Optional</p> -->
  </div>
</ng-container>
<ng-container *ngIf="labelTopInMobileView">
  <div
  class="label-widget d-none d-lg-block text-start w-25 input-label"
  *ngIf="optional || label"
  style="min-width: 25%;"
>
  <label class=" label txt txt-sm text-nowrap d-flex" [for]="key"
    ><span class="text-wrap text-black txt txt-sm" style=" line-height: 1.3; ">{{ label }}</span>
    <span style="color: red;margin-left: 2px;">{{
      optional ? "" : "*"
    }}</span>
    <ng-container *ngIf="withTooltip">
      <sr-tooltip
      class="mx-2"
      [text]="tooltipMsg"
      [readMoreLink]="tooltipReadMoreLink"

      >

      </sr-tooltip>
    </ng-container></label
  >
  <!-- <p class="optional txt txt-sm" *ngIf="optional">Optional</p> -->
</div>
  <div
    class="label-widget text-start w-100 d-block d-lg-none"
    *ngIf="optional || label"
  >
    <label class="label d-flex gap-2 align-items-center txt text-nowrap" [for]="key"
      ><span class="text-wrap text-black txt txt-sm" >{{ label }}
        <em *ngIf="!optional" class="text-danger">*</em>
      </span>
      <ng-container *ngIf="withTooltip">
        <sr-tooltip
        [text]="tooltipMsg"
        [readMoreLink]="tooltipReadMoreLink"

        >
        </sr-tooltip>
      </ng-container>
      </label
    >
  </div>
</ng-container>


<ng-container *ngIf="withTooltip && !label">
  <sr-tooltip
  class="mx-2"
  [text]="tooltipMsg"
  [readMoreLink]="tooltipReadMoreLink"
  >

  </sr-tooltip>
</ng-container>
  <div class="w-100 input-container">
    <!-- Input container ( contains: prefix, input, suffix, icon, steppers ) -->
    <div
      *ngIf="!isTextArea"
      class="input-wrapper txt-sm  {{ orderInGroup }}"
      [ngClass]="{ fullWidth,hideSteppers,isCriteria, error, 'disabled': isDisabled, grouped}"
    >
      <div *ngIf="prefix" class="prefix">
        <p class="txt txt-sm">{{ prefix }}</p>
      </div>

      <input
        #srInputEl
        [(ngModel)]="value"
        [ngClass]="{

          has_icon: iconClass,
          has_icon_trailing: iconClass && trailingIcon,
          'start-from-left':type === 'password' || type === 'email'
        }"
        [id]="key"
        [type]="type === 'password' && isPasswordVisible ? 'text' : type"
        [placeholder]="placeholder"
        [required]="!optional"
        [disabled]="isDisabled"
        [min]="min"
        [max]="max"
        [maxlength]="maxCharLimit"
        [pattern]="pattern"
        (blur)="onTouched()"
        (ngModelChange)="onValueChange(srInputEl)"
        (change)="change.emit(value)"
        (keyup)="keyup.emit(value)"
        (keydown)="keydown.emit(value)"
        (keyup.enter)="submit.emit(value)"
        (oncopy)="copy.emit(value)"
        (onpaste)="paste.emit(value)"
        (click)="clicked.emit($event)"
        (input)="input.emit($event)"
      />

      <div *ngIf="suffix" class="suffix">
        <p class="txt txt-sm">{{ suffix }}</p>
      </div>

      <div  *ngIf="type === 'password'" style="position: absolute;right: 6%; cursor:pointer" (click)="togglePasswordVisibility()">
        <img [src]="isPasswordVisible? 'assets/icons/showPass.svg':'assets/icons/hidePass.svg'" style="max-width: 20px;">
      </div>
      <!-- <i
        *ngIf="iconClass"
        class="icon {{ iconClass }}"
        [ngStyle]="{ order: trailingIcon ? 1 : -1 }"
        (click)="onIconClick.emit()"
      >
      </i> -->

      <div *ngIf="type == 'number'" class="steppers">
        <button (click)="increment()"><i class="si-up"></i></button>
        <button (click)="decrement()"><i class="si-down"></i></button>
      </div>
      
    </div>






    <!-- textarea container ( contains: prefix, input, suffix, icon, steppers ) -->
     <div class="textarea-container position-relative  "#textareaContainer>
      <div  
      (click)="onTextareaClick($event)"
        *ngIf="isTextArea"
        [ngStyle]="{'height': divHeight}"
        class="input-wrapper {{ orderInGroup }} resizable-div  txt-sm position-relative"
        [ngClass]="{ fullWidth, error, 'disabled': isDisabled, grouped}"
      >
        <div *ngIf="prefix" class="prefix">
          <p class="txt txt-sm">{{ prefix }}</p>
        </div>
    
        <textarea
          #srInputEl
          [(ngModel)]="value"
          [ngClass]="{
            has_icon: iconClass,
            has_icon_trailing: iconClass && trailingIcon
          }"
          [id]="key"
          (mouseup)="onSelectionChange($event)"
          [placeholder]="placeholder"
          [required]="!optional"
          [disabled]="isDisabled"
          [pattern]="pattern"
          (blur)="onTouched()"
          [maxlength]="maxCharLimit"
          (ngModelChange)="onValueChange(srInputEl);onTextareaChange($event)"
          (change)="change.emit(value)"
          (keyup)="keyup.emit(value)"
          (keydown)="keydown.emit(value)"
          (keyup.enter)="submit.emit(value)"
          (oncopy)="copy.emit(value)"
          (onpaste)="paste.emit(value)"
          (click)="getCursorPosition($event);clicked.emit($event)"
          (input)="input.emit($event);updateDivHeight()"
        >
        
        </textarea>
     
        <div *ngIf="suffix" class="suffix">
          <p class="txt txt-sm">{{ suffix }}</p>
        </div>
  
        <i
          *ngIf="iconClass"
          class="icon {{ iconClass }}"
          [ngStyle]="{ order: trailingIcon ? 1 : -1 }"
          (click)="onIconClick.emit()"
        >
        </i> 
      </div>
      <app-hideOptions
      style="position: absolute;"
      [optionsData]="optionsData"
      (click)="onTextareaClick($event)"
      (mousedown)="onHideOptionsMouseDown($event)"
        *ngIf="isTextSelected"
        [ngStyle]="contextMenuPosition"
      (hideOptionsData)="uplayMaskingOnSelectedTxt($event)"
      ></app-hideOptions>
     </div>
    <div *ngIf="isTextArea" class="d-flex justify-content-between  mx-2 mt-2" style="width: 98%;">
      
      <ng-container (appClickOutside)="showEmoji = false" *ngIf="isEmoji">
        <div class="emo-con  d-flex flex-column position-relative" 
             (mouseover)="!isEmojiClicked && (showEmoji=true)" 
             (mouseleave)="!isEmojiClicked && (showEmoji=false)" 
            
             style="width: fit-content;">
      
          <button  (click)="isEmojiClicked = !isEmojiClicked" class="btn rounded-3 bg-white d-flex justify-content-center align-items-center p-2 pt-0">
            <mat-icon class="material-symbols-outlined text-secondary" style="height: 21px; font-size: 23px;">
              sentiment_satisfied
            </mat-icon>
          </button>
      
          <emoji-mart
            class="position-absolute start-0 top-0 emoji-pick"
            (emojiClick)="addEmoji($event)"
            *ngIf="showEmoji || isEmojiClicked"
            [enableSearch]="false"
            [darkMode]="false"
            [showPreview]="false"
            
            color="var(--clr-primary-600)">
          </emoji-mart>
      
        </div>
      </ng-container>

      <div *ngIf="isTextArea && limitTextarea" class="char-count">
        <span style="color: #868686;">{{ charCount }} / {{ maxCharLimit }}</span> 
      </div>
    </div>
    <div *ngIf="!isTextArea && type !=='number' && maxCharLimit" class="d-flex justify-content-between  mx-2 mt-2" style="width: 98%;">
      
    

      <div  *ngIf="!hintText && !warning" class="char-count">
        <span style="color: #868686;">{{ charCount }} / {{ maxCharLimit }}</span> 
      </div>
    </div>


    <!-- error Hint / caption -->
    <div *ngIf="hintText && !warning " class="hint " [ngClass]="{ error }">
      <i [class]="hintIcon"></i>
      <p class="txt txt-xs hint mt-2" [ngClass]="{ error }">{{ hintText }}</p>
    </div>

      <!-- warning Hint / caption -->
   <div *ngIf="hintText && warning " class="hint " [ngClass]="{ warning }">
    <i [class]="hintIcon"></i>
    <p class="txt txt-xs hint mt-2" [ngClass]="{ warning }">{{ hintText }}</p>
  </div>
  </div>

 
</section>
