@import "./../../../../styles.scss";
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.label-widget {
  display: flex;
  justify-content: space-between;

  .optional {
    color: $clr_neutral_500;
  }
}

.input-wrapper {
  height: 47px;
  min-width: 210px;
  border: 1px solid $clr_neutral_300;
  border-radius: $radius_xl;
  overflow: hidden;
  background: $clr_neutral_0;
  position: relative;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  transition: 0.2s ease-in;
  position: relative;
  -webkit-border-radius: $radius_xl;
  -moz-border-radius: $radius_xl;
  -ms-border-radius: $radius_xl;
  -o-border-radius: $radius_xl;
  &:hover{
    .steppers {
     display: flex;
      flex-direction: column;
      inset-inline-end: 0;

    }
  }
  &.hideSteppers{
    .steppers{
      display: none !important;
    }
    &:hover{
      .steppers{
        display: none !important;
      }
    }
   
  }
  &.fullWidth
{
    min-width: auto;
    width: 100%;
  }

  &:focus-within {
    box-shadow: 0 0 0 2px $clr_neutral_0, 0 0 0 4px var(--clr-primary-800);
  }

  &.grouped {
    border: none;
    border: 1px solid $clr_neutral_400;
    border-inline-end: none;
    border-radius: 0;
  }

  &.first {
    border-start-start-radius: $radius_xl;
    border-end-start-radius: $radius_xl;
  }

  &.last {
    border-end-end-radius: $radius_xl;
    border-start-end-radius: $radius_xl;
    border: 1px solid $clr_neutral_400;
  }
  input{
    padding: 0 12px;
  }
  textarea {
    padding: 9px 15px 7px;
    font-family:'Poppins', 'Noto Color Emoji' !important;
    }
  input,
  textarea {
    height: 100%;
    width: 100%;
    background: transparent;
    line-height: $LH_body;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: $clr_neutral_900;
    resize: vertical !important;
    &::placeholder {
      color: $clr_neutral_400;
    }

    &.has_icon {
      padding-inline-start: 0;

      &_trailing {
        padding-inline-start: 12px;
        padding-inline-end: 0;
      }
    }
  }

  // hide default steppers from input number
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  // hide default steppers from input number

  .icon {
    font-size: 24px;
    color: $clr_neutral_600;
    height: 100%;
    display: flex;
    align-items: center;
    padding-inline: 8px;
    cursor: pointer;
  }

  .steppers {
    position: absolute;
    display: none;
    // display: flex;
    // flex-direction: column;
    // inset-inline-end: 0;

    button {
      border: none;
      background-color: white;
      color: var(--clr-primary-800);
      font-size: 20px;
      padding: -3px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38px;
      height: 14.5px;

      &:last-of-type {
        height: 14.5px;
        border-bottom: none;
      }


    }
  }

  .prefix,
  .suffix {
    padding-inline: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    background: $clr_neutral_50;
    color: $clr_neutral_600;
    border-inline-end: 1px solid $clr_neutral_300;
    cursor: default;
    transition: 0.2s ease-in;

    p {
      width: -content;
    }
  }

  .suffix {
    border-inline-end: none;
    border-inline-start: 1px solid $clr_neutral_300;
  }

  &.error {
    background: $clr_danger_50;
    border-color: $clr_danger_700;

    .prefix,
    .suffix {
      background: $clr_danger_50;
      border-color: $clr_danger_700;
    }
  
  }

  &.disabled {
    background-color: $clr_neutral_50;
    cursor: default;
    pointer-events: none;

    input,
    textarea {
      color: $clr_neutral_400;
    }
  }
}
@media (max-width: 1700px){
  .input-wrapper {
    height: 38px;
  }
}
.start-from-left{
  direction: ltr !important;
}
.input-wrapper:has(textarea) {
  resize: vertical;
  height: 100px;
  min-height: 100px !important;
}

textarea {
  resize: none;
}

.hint {
  display: flex;
  align-items: center;
  gap: 4px;
  color: $clr_neutral_600;

  &.error {
    color: $clr_danger_700;
  }
  &.warning{
    color: $clr_warning_700;
  }
}
@media (max-width:992x) {
.label-widget.text-start.w-100.d-block.d-lg-none.ng-star-inserted {
  display: flex !important;
  justify-content: start !important;
  margin-bottom: 10px !important;
}}
@media (max-width: 1700px) {


  .input-wrapper.isCriteria{
  
    height: 38px  !important;
   input, textarea
    {
    font-size: 12px !important;
  }
  }
  .special-input
  {

    .us-input .input-label {
      min-width: 100px !important;
  }
  }
  }
.emo-con:hover{
  .material-symbols-outlined{
    color: var(--clr-primary-600) !important;
  }
}
@media(max-width:768px){
  .char-count{
    span{
      font-size: 11px !important;
    }
  }
  .material-symbols-outlined.text-secondary{
    font-size: 19px !important;
  }
  .txt-sm{
    font-size: 12px !important;
  }
  .input-wrapper input {
    padding: 0px 9px !important;;
}
}
.us-input{
  &.fullWidthAndHeight{
    width: 100% !important;
    min-width: unset !important;
    height: 100% !important;
    .input-container{
      height: 100% !important;
      .input-wrapper{
        width: 100% !important;
        min-width: unset !important;
        height: 100% !important;
        .steppers button {
          font-size: 18px !important;
          padding: 6px !important;
          width: 26px !important;
          height: 9px !important;
      }
      }
    }
    

  .txt-sm {
    font-size: 10px !important;
}
  }
}
.masked-text{
  color: blue;
}
.highlight-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 8px; /* Adjust padding to match textarea */
  border: 1px solid #ccc; /* Example border */
  font-family: Arial, sans-serif; /* Example font */
  font-size: 14px; /* Example font size */
  line-height: 1.4;
  white-space: pre-wrap; /* Preserve whitespace */
  overflow-wrap: break-word; /* Wrap long lines */
}

.highlighted {
  background-color: yellow; /* Example highlight color */
  /* Any other styles for highlighted text */
}