<div class="message-container mt-1 p-2  d-flex justify-content-between position-relative" style="width:99.5%">
  <mat-icon *ngIf="devicesWarning" class="close-message position-absolute top-0 end-0 m-2 mx-3 pointer" (click)="onClose()">close</mat-icon>
  <div class="message-content">
    <p class="d-flex mb-0">
      <mat-icon style="width: 32px;" class="mx-1">info</mat-icon>
      <span *ngIf="isTrialMessage"> {{trialMessage}} <a routerLink="/billing" class="mx-1 text-primary-800 fw-semibold">{{ 'UPGRADE_PLAN' | translate }}</a>.</span>
      <span *ngIf="devicesWarning"> {{translatedMessage}}</span> 
      
    </p>
  </div>

</div>
