<section class="stepper new-campaign">
  <mat-stepper [linear]="true" #stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon>check</mat-icon>
    </ng-template>

<!-- step one -->
    <mat-step>
      <ng-template matStepLabel>{{ 'selectListsLabel' | translate }}</ng-template>
      <ng-container *ngIf="step1">

        <div class="d-flex   position-relative  align-items-between flex-column justify-content-between " style="min-height: 100%;">
          <app-stepOne (allSelected)="getLists($event)"></app-stepOne>
          <div class="d-flex buttons justify-content-end align-items-center">
            <button class="rest-style " matStepperNext [disabled]="lists.length==0">
              <us-button
                class="m-2"
                [fullWidth]="true"
                label="{{ 'nextLabel' | translate }}"
                [fill]="true"
                [size]="'md'"
                [loading]="false"
                [appearance]="'primary'"
                (clicked)="toSecondStep()"
                [disabled]="lists.length==0"
              >
              </us-button>
            </button>
          </div>
        </div>
      </ng-container>
    </mat-step>

<!-- step two -->
    <mat-step>
      <ng-template matStepLabel>{{ 'writeMessageLabel' | translate }}</ng-template>
      <ng-container *ngIf="step2">


      <div class="d-flex   position-relative align-items-between flex-column justify-content-between " style="min-height: 100%;">
        <app-write-message (filesAndMessage)="toThirdStep($event)" style="height: 80%;"></app-write-message>
      </div>
    </ng-container>
    </mat-step>

<!-- step three -->
    <mat-step>
      <ng-template matStepLabel>{{ 'informationLabel' | translate }}</ng-template>
      <ng-container *ngIf="step3">
      <div class="d-flex   position-relative align-items-between flex-column justify-content-between " style="min-height: 100%;">
        <app-stepThree (formValidityChange)="stepThreeValidation($event)" (isSelectedDevices)="deviceSelected=$event"></app-stepThree>
        <div class="d-flex buttons justify-content-end align-items-center">
          <button class="rest-style" matStepperPrevious>
            <us-button
              class="m-2"
              label="{{ 'backLabel' | translate }}"
              [fullWidth]="true"
              [fill]="false"
              [size]="'md'"
              [loading]="false"
              [disabled]="false"
              [appearance]="'primary'"
              
            >
            </us-button>
          </button>
          <button class="rest-style" matStepperNext [disabled]="!stepThreeValidate || !deviceSelected">
            <us-button
              class="m-2"
              label="{{ 'nextLabel' | translate }}"
              [fullWidth]="true"
              [fill]="true"
              [size]="'md'"
              [loading]="false"
              [disabled]="!stepThreeValidate || !deviceSelected"
              [appearance]="'primary'"
              (clicked)="toStepFour()"
            >
            </us-button>
          </button>
        </div>
      </div>
    </ng-container>
    </mat-step>

<!-- step four -->
<mat-step>
  <ng-template matStepLabel>{{ 'settingLabel' | translate }}</ng-template>
  <ng-container *ngIf="step4">
  <div class="d-flex  position-relative  align-items-between flex-column justify-content-between " style="min-height: 100%;">
    <app-stepFour [lastCampaignData]="lastCampaignData"(formValidityChange)="stepFourValidation($event)"></app-stepFour>
      <div class="d-flex buttons  justify-content-end align-items-center" >

      <button class="rest-style" matStepperPrevious   [disabled]="isLoading">
        <us-button
          class="m-2"
          label="{{ 'backLabel' | translate }}"
          [fullWidth]="true"
          [fill]="false"
          [size]="'md'"
          [loading]="false"
          [disabled]="false"
          [appearance]="'primary'"
          [disabled]="isLoading"
        >
        </us-button>
      </button>

      <button class="rest-style"  [disabled]="!stepFourValidate">
        <us-button
          class="m-2"
          label="{{ 'nextLabel' | translate }}"
          [fullWidth]="true"
          [fill]="true"
          [size]="'md'"
          [loading]="false"
          [disabled]="!stepFourValidate"
          [appearance]="'primary'"
          (clicked)="toStepFive()"
        >
        </us-button>
      </button>
    </div>
    </div>
</ng-container>
</mat-step>

<!-- step five -->
    <mat-step>
      <ng-template matStepLabel>{{ 'Actions' | translate }}</ng-template>
      <ng-container *ngIf="step5">
      <div class="d-flex  position-relative  flex-column gap-3 " style="min-height: 100%;">
        <div class="step5-container">

          <app-campaignActions  [isCampaignAction]="true" [deviceId]="deviceId" (actionsData)="setActions($event)" ></app-campaignActions>
          
        </div>
        <div class="d-flex flex-column justify-content-center w-100">
        <div class=" buttons " >
          <div class="d-flex bottons-container justify-content-end align-items-center" >

          <button class="rest-style" matStepperPrevious   [disabled]="isLoading">
            <us-button
              class="m-2"
              label="{{ 'backLabel' | translate }}"
              [fullWidth]="true"
              [fill]="false"
              [size]="'md'"
              [loading]="false"
              [disabled]="false"
              [appearance]="'primary'"
              [disabled]="isLoading || form.invalid"
            >
            </us-button>
          </button>

          <button class="rest-style" [disabled]="isLoading">
            <us-button
              class="m-2"
              [label]="(actions.length==0) ? ('addLabel' | translate) :('nextLabel' | translate )"
              [fullWidth]="true"
              [fill]="true"
              [size]="'md'"
              [loading]="isLoading"
              [disabled]="isLoading "
              [appearance]="'primary'"
              (clicked)="onStepFiveNext()"
            >
            </us-button>
          </button>
        </div>
        <div  *ngIf="showWarningMsg" class="waiting-msg">
          <p>{{'waiting_msg' | translate}}</p>
        </div> 
        </div>
      </div>
      </div>
    </ng-container>
    </mat-step>

<!-- step six -->
<mat-step *ngIf="actions.length!=0">
  <ng-template matStepLabel>{{ 'timeout' | translate }}</ng-template>
  <ng-container >
    <div class="d-flex  position-relative  align-items-between flex-column justify-content-between step6-container " style="min-height: 100%;">
    

      <form  [formGroup]="form" class=" px-5 mt-5 pt-5 mx-auto " style="width:88%;
                                                                        max-height: 50vh;
                                                                        overflow: auto; ">
        <div class="d-flex gap-4 flex-column"> 
          <us-input
          *ngIf="actions.length!=0" 
          [isDisabled]="false"
          placeholder="{{ 'Enter Your Message...' | translate }}"
          [optional]="true"
          type="text"
          [error]="false"
          [fullWidth]="true"
          formControlName="MessageAfterTimeOut"
          [label]="'MessageAfterTimeOut' | translate"
          [isTextArea]="true"
          [isEmoji]="true"
        ></us-input>
      
        <div  *ngIf="actions.length!=0"  class=" d-flex justify-content-between align-items-center time-out" style=" width: 47%;
        ">
          <label style="width:30%">{{ 'sessionTimeOut' | translate }}</label>
          <div style="width:42%" class="d-flex align-items-center justify-content-between">
            <div class="d-flex  flex-column" style="width: 136px; position: relative;">
              <us-input
                value=""
                type="number"
                [error]="false"
                [fullWidth]="true"
                [min]="0"
                formControlName="sessionTimeOut"
              ></us-input>
            </div>
          </div>
        </div>
  
        </div>
        
      </form>

      <div class="d-flex flex-column justify-content-center w-100">
        <div class=" buttons " >
          <div class="d-flex bottons-container justify-content-end align-items-center" >
            <button class="rest-style" matStepperPrevious   [disabled]="isLoading">
              <us-button
                class="m-2"
                label="{{ 'backLabel' | translate }}"
                [fullWidth]="true"
                [fill]="false"
                [size]="'md'"
                [loading]="false"
                [disabled]="false"
                [appearance]="'primary'"
                [disabled]="isLoading"
              >
              </us-button>
            </button>
      
            <button class="rest-style" matStepperNext [disabled]="isLoading">
              <us-button
                class="m-2"
                label="{{ 'addLabel' | translate }}"
                [fullWidth]="true"
                [fill]="true"
                [size]="'md'"
                [loading]="isLoading"
                [disabled]="isLoading "
                [appearance]="'primary'"
                (clicked)="addCampaign()"
              >
              </us-button>
            </button>
        </div>
        <div  *ngIf="showWarningMsg" class="waiting-msg">
          <p>{{'waiting_msg' | translate}}</p>
        </div> 
        </div>
      </div>
    
  </div>
</ng-container>
</mat-step>

  </mat-stepper>
</section>
