<section class="stepper " >
  <mat-stepper [linear]="true" #stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon>check</mat-icon>
    </ng-template>

    <mat-step>
      <ng-template matStepLabel>{{ 'SELECT_CONTACTS' | translate }}</ng-template>
      <div class="position-relative d-flex align-items-between flex-column justify-content-between" style="min-height: 100%;">
        <app-select-contacts (allContactsFromChild)="toWriteMessage($event)" ></app-select-contacts>
        <!-- <div class="d-flex justify-content-end align-items-center" style="width: 98%; ">
          <button class="rest-style" matStepperNext [disabled]="count == 0">
            <us-button
              class="m-2"
              label="{{ 'NEXT' | translate }}"
              [fill]="true"
              [size]="'md'"
              [loading]="false"
              [appearance]="'primary'"
              (clicked)="toWriteMessage()"
              [disabled]="count == 0"
            >
            </us-button>
          </button>
        </div> -->
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>{{ 'WRITE_MESSAGE' | translate }}</ng-template>
      <div class="position-relative  d-flex align-items-between flex-column justify-content-between" style="min-height: 100%;">
        <app-write-message (emptyMessageAndFiles)="stepTwoValidation($event)"(filesAndMessage)="toSendMessage($event)" (attachments)="filesUrls($event)" ></app-write-message>
        <!-- <div class="d-flex justify-content-end align-items-center" style="width: 98%; ">
          <button class="rest-style" matStepperPrevious>
            <us-button
              class="m-2"
              label="{{ 'BACK' | translate }}"
              [fill]="false"
              [size]="'md'"
              [loading]="false"
              [disabled]="false"
              [appearance]="'primary'"
            >
            </us-button>
          </button>
          <button class="rest-style" matStepperNext [disabled]="this.stepTwoValidate">
            <us-button
              class="m-2"
              label="{{ 'NEXT' | translate }}"
              [fill]="true"
              [size]="'md'"
              [loading]="false"
              [disabled]="this.stepTwoValidate"
              [appearance]="'primary'"
              (clicked)="toSendMessage()"
            >
            </us-button>
          </button>
        </div> -->
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>{{ 'SEND_MESSAGE' | translate }}</ng-template>
      <ng-container *ngIf="isSendMsg">
        <div class="position-relative d-flex align-items-between flex-column justify-content-between h-100" style="min-height: 100%;">
          <app-send-message  (isSelectedDevices)="deviceSelected=$event" ></app-send-message>
          <div class="d-flex flex-column justify-content-center w-100">
            <div class=" buttons d-flex flex-column" >
              <div class="bottons-container">
                <button class="rest-style" matStepperPrevious>
                  <us-button
                    class="m-2"
                    [fullWidth]="true"
                    label="{{ 'BACK' | translate }}"
                    [fill]="false"
                    [size]="'md'"
                    [loading]="false"
                    [disabled]="isLoading"
                    [appearance]="'primary'"
                  >
                  </us-button>
                </button>
                <button class="rest-style" matStepperNext [disabled]="isLoading || !deviceSelected">
                  <us-button
                    class="m-2"
                    [fullWidth]="true"
                    label="{{ 'SEND' | translate }}"
                    [fill]="true"
                    [size]="'md'"
                    [loading]="isLoading"
                    [appearance]="'primary'"
                    (clicked)="sendMessages()"
                    [disabled]="isLoading || !deviceSelected"
                  >
                  </us-button>
                </button>
              </div>
  
              <div *ngIf="showWarningMsg" class="waiting-msg">
                <p>{{'waiting_msg' | translate}}</p>
              </div> 
            </div>
          </div>
        </div>
      </ng-container>
     
    </mat-step>
  </mat-stepper>
</section>

