<div class="write-message-containter  w-100 h-100 p-5 mt-5">

  <div class="d-flex gap-5 flex-column message-container">
    <form [formGroup]="form" class="d-flex gap-5 flex-column">
      <us-select
        [data]="templates"
        formControlName="templatesData"
        [multiSelect]="false"
        (onSelect)="onSelect($event)"
        [loadingText]="templateLoadingText"
        [label]="'Templates' | translate"
        [placeholder]="'Select Templates' | translate"
        [isDisabled]="false"
        [optional]="true"
        [enableSearch]="true"
        [searchbarOnToggler]="true"
        [searchNoResultText]="'there is no result' | translate"
        [maxListItemsWithoutSearch]="5"
      ></us-select>

      <us-input
        [isDisabled]="false"
        placeholder="{{ 'Enter Your Message...' | translate }}"
        [optional]="true"
        type="text"
        [error]="false"
        [fullWidth]="true"
        formControlName="message"
        [label]="'Message' | translate"
        [isTextArea]="true"
        [isEmoji]="true"
      ></us-input>
    </form>
    <div class="form-group d-flex gap-lg-4 gap-2 flex-column flex-lg-row flex-nowrap files-container">
      <div class="label-widget text-start w-25 d-none d-lg-block" style="min-width: 25%;">
        <label for="files" class="w-25 text-nowrap d-flex" style="min-width:25%"
          ><span class="txt txt-sm text-black text-wrap">{{ 'Attachments' | translate }}</span>
        </label>
      </div>

      <div class="label-widget text-start w-100 d-block d-lg-none">
        <label for="files" class="w-25 text-nowrap d-flex" style="min-width:25%"> 
          <span class="txt  text-black text-wrap txt-sm">{{ 'Attachments' | translate }}</span>
        </label>
      </div>
      <us-upload class="w-100"
        (onFileChange)="onFileChange($event)"
        (onFileDelete)="onFileDelete($event)"
        [isLoading]="loading"
        [(ngModel)]="fileData"
        [multiple]="true"
      ></us-upload>
    </div>
  </div>
  <div class="d-flex justify-content-end align-items-center buttons" style="width: 95%; ">
    <button class="rest-style" matStepperPrevious>
      <us-button
        class="m-2"
        [fullWidth]="true"
        label="{{ 'BACK' | translate }}"
        [fill]="false"
        [size]="'md'"
        [loading]="false"
        [disabled]="false"
        [appearance]="'primary'"
      >
      </us-button>
    </button>
    <button type="button" class="rest-style">
      <us-button
        class="m-2"
        [fullWidth]="true"
        label="{{ 'NEXT' | translate }}"
        [fill]="true"
        [size]="'md'"
        [loading]="uploading"
        [disabled]="(!form.valid && !files) || uploading"
        [appearance]="'primary'"
        (clicked)="filesAndMessageToParent()"
      >
      </us-button>
    </button>
  </div>
</div>