<ng-container *ngIf="!noData">
  <div class="d-flex align-items-center justify-content-between my-3" style="gap: 12px;">

    <div class="d-flex position-relative row m-0 input-search-containter" >
      <form [formGroup]="searchForm"  class="col-12 col-lg-4 p-0 w-100" >
        <input
          #search
          type="text"
          class="form-control ps-5 txt-xs w-100"
          id="search"
          placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"
          formControlName="searchControl"
        />
      </form>
      <div class="icon px-4 w-fit position-absolute start-0 top-50 translate-middle-y">
        <img src="assets/icons/search.svg" alt="" width="14" />
      </div>
    
    </div>
  
    <us-button
      class="m-2"
      [label]="'newCampaign' | translate"
      img="assets/icons/compagins-icon.svg"
      [fill]="true"
      [size]="'md'"
      [loading]="false"
      [disabled]="false"
      [appearance]="'primary'"
      (clicked)="addCampaigns()"
    >
    </us-button>

  
</div>

<div class="d-flex align-items-center justify-content-between dropdowns mb-3" style="row-gap: 6px; max-width: 394px;">
  <form [formGroup]="displayForm" class="d-flex gap-5 flex-column" style="
  min-width: 100px;">
    <!-- show number of displayed items -->
    <us-select
      [data]="showsOptions"
      formControlName="showsSelectedOptions"
      [multiSelect]="false"
      (onSelect)="onPageSizeChange($event)"
      [label]="'shows' | translate"
      [isDisabled]="false"
      [optional]="true"
      endLable="{{ 'items' | translate }}"
      [smallDropDown]="true"
    ></us-select>

   
  </form>
  <div class="display">
    <mat-form-field class="us-select">
      <mat-label class="txt-caption"> <img src="assets/icons/display.svg" alt="" class="m-2" width="15"> <span class="txt-caption" style="font-size: 12px !important;">{{ 'DISPLAY' | translate }}</span></mat-label>
      <mat-select [formControl]="columns"  (selectionChange)="changeColumns($event.value)" multiple>
        <mat-option *ngFor="let topping of displayed" [value]="topping.value">{{ topping.title | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <form  >
    <mat-form-field appearance="fill" class="sorting-dropdown">
      <mat-select [placeholder]="'sortBy' |translate" multiple [disabled]="true">
        
        <mat-select-trigger>
          {{'sortBy' |translate}}
        </mat-select-trigger>
        <mat-option class="sort_by_option" *ngFor="let option of topSortingOptions; let i = index" [value]="option.lable">
          <div class="d-flex align-items-center justify-content-between" (click)="toggleTopSortingSelect()">
            <span [ngClass]="{'text-primary-800': option.isSelected}">{{ option.lable }}</span>
            <mat-icon *ngIf="option.isSelected">done</mat-icon>
          </div>
        </mat-option>
        <mat-divider></mat-divider>
        <mat-option class="sort_by_option" *ngFor="let option of bottomSortingOptions; let i = index" [value]="option.lable">
          <div class="d-flex align-items-center justify-content-between" (click)="toggleBottomSortingSelect()">
            <span [ngClass]="{'text-primary-800': option.isSelected}">{{ option.lable }}</span>
            <mat-icon *ngIf="option.isSelected">done</mat-icon>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

</div>
<div class="d-flex align-items-center justify-content-between dropdowns " style="row-gap: 6px; max-width: 394px;">

  <form [formGroup]="form" class="d-flex">
    <us-select
    [isListDevicesDropdown]="true"
    [deviceLableGap]="true"
    [labelTopInMobileView]="false"
      [data]="devices"
      formControlName="devicesData"
      [multiSelect]="false"
      [label]="'Devices' | translate"
      (onSelect)="onSelect($event)"
      [loadingText]="deviceLoadingText"
      [placeholder]="'Select Devices' | translate"
      [isDisabled]="false"
      [optional]="true"
      [enableSearch]="true"
      [searchbarOnToggler]="true"
      [searchNoResultText]="'THERE_IS_NO_RESULT' | translate"
      [maxListItemsWithoutSearch]="5"

    ></us-select>
  </form>

</div>

</ng-container>
<ng-container *ngIf="length > 0 && !noData || loading">
  <section class="table-wrapper">
    <div *ngIf="loading" class="spinner-container p-3">
      <svg width="70" height="70" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <style>.spinner_0XTQ{transform-origin:center; animation:spinner_y6GP .75s linear infinite}@keyframes spinner_y6GP{100%{transform:rotate(360deg)}}</style>
        <path class="spinner_0XTQ" d="M12,23a9.63,9.63,0,0,1-8-9.5,9.51,9.51,0,0,1,6.79-9.1A1.66,1.66,0,0,0,12,2.81h0a1.67,1.67,0,0,0-1.94-1.64A11,11,0,0,0,12,23Z"/></svg>
    </div>
 
    <mat-accordion class="table-mobile-view without-select" multi>
      <mat-expansion-panel *ngFor="let element of messagesTableData" [expanded]="length > 2 ?false :true" 
        [ngClass]="{'radius-15':length <= 10}">
        <mat-expansion-panel-header>
          <!-- Name Column -->
          <div class="row w-100" >
            <div class="col row-header">{{ 'NAME' | translate }}</div>
            <div class="col ">{{ element.campaignName }}</div>
          </div>
        </mat-expansion-panel-header>

          <!-- Status Column -->
          <div class="row row-item" *ngIf="displayedColumns.includes('Status')">
            <div class="col row-header">{{ 'statusColumn' | translate }}</div>
            <div class="col ">
              <ng-container [ngSwitch]="element.isStopped">
                <div *ngSwitchCase="false" class="d-flex gap-2 align-items-center justify-content-center">
                  <span class="status active"></span>
                  <p style="margin: 0 0 0 0;">{{ 'ACTIVE' | translate }}</p>
                </div>
                <div *ngSwitchCase="true" class="d-flex gap-2 align-items-center justify-content-center">
                  <span class="status inactive"></span>
                  <p style="margin: 0 0 0 0;">{{ 'Ended' | translate }}</p>
                </div>
              </ng-container>
            </div>
          </div>
    
          <!-- Creator Name Column -->
          <div class="row row-item" *ngIf="displayedColumns.includes('Creator Name')">
            <div class="col row-header">{{ 'creatorNameColumn' | translate }}</div>
            <div class="col ">{{ element?.device.deviceName }}</div>
          </div>
    
          <!-- Start Date Column -->
          <div class="row row-item" *ngIf="displayedColumns.includes('Start Date')">
            <div class="col row-header">{{ 'startDateColumn' | translate }}</div>
            <div class="col ">{{ element?.scheduledAt | toLocalTime:selectedTimeZone }}</div>
          </div>
    
          <!-- Action Column -->
          <div class="row row-item" *ngIf="displayedColumns.includes('Action')">
            <div class="col row-header">{{ 'actionColumn' | translate }}</div>
            <div class="col " (click)="cellClick=true;">
              <div class="actions d-flex  w-100">
                <div class="d-flex flex-row-reverse gap-3 " >
                  <img (click)="deleteCampaign(element)" src="assets/icons/Actionsc.svg" alt="" />
                  <img *ngIf="element.isStopped == false" (click)="stopCampaign(element);" src="assets/icons/stop-compaigns.svg" alt="" />
                  <div class="details d-flex gap-1 align-items-center" (click)="campaignDetails(element)">
                    <img src="assets/icons/details.svg">
                    <span class="text-primary-800" >{{'details' | translate}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
      </mat-expansion-panel>
    </mat-accordion>
    
    <mat-paginator *ngIf="length > 10"
    [hidePageSize]="true"
    [pageSize]="display"
    (page)="onPageChange($event)"
    [length]="length"
    showFirstLastButtons
    [pageIndex]="pageNum"
      >
    </mat-paginator>
  </section>
</ng-container>

<ng-container *ngIf="(length == 0 && !loading) && ( notFound || noData)">
  <div class="d-flex justify-content-center align-items-center flex-column gap-3 nodata-container w-100" style="height: 500px;">
    <img src="assets/images/files.svg" alt="">
    <span class="text-neutral-600" style="font-size: 20px; font-weight: 600;">{{ 'NO_DATA_TO_SHOW_LABEL' | translate }}</span>
  </div>
</ng-container>
