@import "./../../../../../styles.scss";

* {
  margin-block: 0;
}
.us-select-container{
  &.fullWidth{
    width: 100% !important;
    .host{
      min-width: 10rem !important;
    }
  }
}

.host {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $radius_xl !important;
  -webkit-border-radius: $radius_xl !important;
  -moz-border-radius: $radius_xl !important;
  -ms-border-radius: $radius_xl !important;
  -o-border-radius: $radius_xl !important;
  background-color: $clr_neutral_0;
  border: 1px solid $clr_neutral_300;

  //DISABLED_FEATURE_FOR_NOW
  &.selected_indicator{
    border-color: var(--clr-primary-800);
    transition: 0.2s ease-in;

    &::before {
      content: "✓";
      z-index: 1;
      background-color: var(--clr-primary-800);
      width: 16px;
      height: 16px;
      display: flex;
      justify-content: center;
      font-size: 12px;
      line-height: 20px;
      color: $clr_neutral_0;
      font-weight: bold;
      position: absolute;
      inset-inline-start: 0;
      top: 0;
      border-radius: 0;
      border-end-end-radius: 4px;
      border-start-start-radius: 4px;
    }

    &.multi {
      &::before {
        content: attr(data-count);
      }
    }

    .toggler {
      padding-inline-start: 26px;
    }
  }

  .icon_after {
    margin-inline-start: auto;
  }

  .toggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    background-color: $clr_neutral_0;
    border: 1px solid transparent;
    outline: none;
    color: #000;
    border-radius: $radius_xl !important;
    -webkit-border-radius: $radius_xl !important;
    -moz-border-radius: $radius_xl !important;
    -ms-border-radius: $radius_xl !important;
    -o-border-radius: $radius_xl !important;
    position: relative;
    height: 40px;
    margin: 0px !important;
    padding: 0 12px;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.1s ease-out box-shadow;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &.action-icon {
      padding: 0 7px;
    }

    &.focus {
      transition: 0.2s box-shadow;
      border: 1px solid $clr_neutral_300;
      box-shadow: 0 0 0 2px $clr_neutral_0, 0 0 0 4px var(--clr-primary-800);
    }

    /* Firefox */
    &::-webkit-scrollbar {
      /* Chrome */
      display: none;
    }

    &.has-badges {
      padding-inline-start: 4px;
    }

    .placeholder {
      background-color: white;
      display: flex;
      column-gap: 5px;
      color: $clr_neutral_400;
      opacity: 1;
      cursor: pointer;

      &.black {
        color: unset;
      }

      &_selected {
        display: flex;
        align-items: center;
        gap: 4px;
      }

      &_title {
        color: $clr_neutral_900;
      }

      &_caption {
        color: $clr_neutral_500;
      }
    }

    .badges {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 4px;
    }

    input {
      position: absolute;
      width: calc(100% - 46px);
      padding: 0;
      height: 28px;
      border:none;
      outline: none;
      font-size: 16px;
      inset-inline-start: 10px;
    }

    &.depth-1 {
      box-shadow: $depth_1;
    }

    .clear-single-select {
      color: $clr_neutral_500;
    }
  }

  .overflow {
    cursor: default !important;
    display: none;

    // @media screen and (max-width: 767px) {
    //   display: unset;
    //   position: fixed;
    //   top: 0;
    //   bottom: 0;
    //   right: 0;
    //   left: 0;
    //   background: $clr_neutral_900;
    //   opacity: 0.7;
    //   z-index: 998;
    // }
  }

  &.actions {
    width: max-content;
    box-shadow: $depth_1;

    .actions-icon-class {
      font-size: 24px;
    }
  }

  .list {
    position: absolute;
    background: $clr_neutral_0;
    top: calc(100% + 8px);
    inset-inline-start: 0;
    z-index: 3;
    list-style: none;
    margin: 0;
    padding: 4px;
    border-radius: $radius_md !important;
    -webkit-border-radius: $radius_md !important;
    -moz-border-radius: $radius_md !important;
    -ms-border-radius: $radius_md !important;
    -o-border-radius: $radius_md !important;
    box-shadow: $depth_3;
    cursor: default;
    border: 1px solid $clr_neutral_300;
    box-sizing: border-box;
    text-align: start;
    width: max-content;
    min-width: 100%;
    overflow: hidden;

    // @media screen and (max-width: 768px) {
    //   min-width: 90%;
    //   width: 90%;
    //   position: fixed;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   font-size: 1rem;
    //   box-shadow: $depth_5;
    //   z-index: 999;
    // }

    &_content {
      overflow-y: auto;
      max-height: 300px;
      width: 100%;
      border-radius: $radius_md !important;
      -webkit-border-radius: $radius_md !important;
      -moz-border-radius: $radius_md !important;
      -ms-border-radius: $radius_md !important;
      -o-border-radius: $radius_md !important;
      overscroll-behavior: contain;
      padding: 0px;

      label {
        padding: 8px 12px;
      }
    }

    hr {
      margin: 4px 0;
      border: none;
      height: 1px;
      background: $clr_neutral_300;
    }

    .search_section {
      text-align: center;
      padding: 0 10px;
      text-align: center;
      padding: 10px 10px 0;
      position: sticky;
      top: 0;
      width: 100%;
      background: $clr_neutral_0;

      input {
        border-radius: $radius_xl !important;
        -webkit-border-radius: $radius_xl !important;
        -moz-border-radius: $radius_xl !important;
        -ms-border-radius: $radius_xl !important;
        -o-border-radius: $radius_xl !important;
        padding: 6px 8px;
        border: 1px solid $clr_neutral_0;
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
        width: 100%;
        margin: 0;
        &:focus-visible {
          outline: unset !important;
        }
      }

      hr {
        margin: 10px 0 5px !important;
      }
    }

    .lite {
      color: $clr_neutral_500;
      font-weight: normal;
    }

    .item_selected {
      color: var(--clr-primary-800);
    }

    &_item {
      transition: 0.2s ease-in;
      padding: 8px 12px;
      display: flex;
      display: -webkit-flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 8px;
      min-height: 40px;
      cursor: pointer;
      border-radius: 4px;
      margin-bottom: 4px;

      @media screen and (max-width: 768px) {
        padding: 8px 20px;
      }

      &.select_all {
        border-bottom: 1px solid $clr_neutral_300;
      }

      .radio-btn,
      .check-box {
        min-width: 14px;
        min-height: 14px;
        position: relative;
        border-radius: 10px;
        outline: 2px solid $clr_neutral_300;
        transition: 0.2s ease-in;
        box-shadow: inset 0px 0px 1px 1px rgb(0 0 0 / 5%);

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border: 2px solid $clr_neutral_0;
          border-radius: 50%;
          transition: 0.2s ease-in;
        }
      }

      .check-box {
        min-width: 18px;
        min-height: 18px;
        border-radius: 3px;

        &::before {
          border-radius: 4px;
        }
      }

      .selected {
        &::before {
          background-color: var(--clr-primary-800);
        }
      }

      &:hover {
        background-color: var(--clr-primary-500);

        .check-box,
        .radio-btn {
          outline-color: var(--clr-primary-800);
        }
      }

      .default {
        color: #9f9f9f;
        font-weight: normal;
      }

      .icon_after {
        margin-inline-start: auto;
      }

      &.danger {
        color: $clr_danger_700 !important;
      }

      &.warning {
        color: $clr_warning_700 !important;
      }

      &.success {
        color: $clr_success_700 !important;
      }

      &.primary {
        color: $clr_primary_700 !important;
      }

      &_disabled {
        color: $clr_neutral_600;
        cursor: default !important;
        pointer-events: none;

        .select-tooltip {
          pointer-events: auto;
          color: black;
        }

        &:hover {
          color: var(--clr-primary-500) !important;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &_action {
      cursor: pointer;
      min-height: auto;
      border-bottom: 0px;
      padding-bottom: 0px;

      &:last-of-type {
        border-bottom: 0px;
        padding-bottom: 12px;
      }

      &:hover {
        background-color: unset;
        color: $clr_primary_700;
      }
    }

    &.custom {
      padding: 0;

      .list_item {
        border-bottom: 1px solid #ddd;
        border-radius: 0;
        margin: 0;
        padding: 12px;
        &:last-of-type {
          border: none;
        }
      }
    }
  }

  .position_reverse {
    inset-inline-start: unset;
    inset-inline-end: 0;
  }

  &.disabled {
    .toggler {
      cursor: default;
      color: $clr_neutral_400 !important;
      background-color: $clr_neutral_50;
    }

    .placeholder_title {
      color: $clr_neutral_400 !important;
    }
  }

  &.error {
    border-color: $clr_danger_700;

    .toggler {
      background-color: $clr_danger_50;
    }
  }

  &.grouped {
    border: none;

    .toggler {
      background-color: $clr_neutral_0;
      border: 1px solid $clr_neutral_400;
      border-inline-end: none;
      border-radius: 0;
      cursor: default;

      &.hasBackground {
        background-color: $clr_neutral_50;
      }

      &.first {
        border-start-start-radius: $radius_xl;
        border-end-start-radius: $radius_xl;
      }

      &.last {
        border-end-end-radius: $radius_xl;
        border-start-end-radius: $radius_xl;
        border: 1px solid $clr_neutral_400;
      }

      &:focus {
        box-shadow: 0 0 0 2px $clr_primary_400;
        transition: 0.2s ease-in;
        border-color: transparent !important;
        z-index: 9;
      }

      &:hover {
        background-color: var(--clr-primary-500);
      }

      &:active {
        background-color:var(--clr-primary-500);
      }

      &.lg {
        height: 48px;
      }

      &.md {
        height: 40px;
      }

      &.sm {
        height: 32px;
      }

      &:not(.isSearchable) {
        .placeholder {
          color: $clr_neutral_800 !important;
        }
      }
    }
  }
}

.description {
  display: flex;
  gap: 8px;
  color: $clr_neutral_400;

  i {
    font-size: 12px;
    padding-top: 5px;
  }

  &.error {
    color: $clr_danger_700;
  }
}

.label-widget {
  display: flex;
  justify-content: space-between;

  span {
    color: $clr_neutral_500;
  }
}
.nested-list{
  padding-left: 2.3rem !important;
}
.icon-arrow{
  color: $clr_neutral_900;
}
@media (max-width:992x) {
.d-block.d-lg-none.label-widget.w-100.ng-tns-c148-71.ng-star-inserted {
  display: flex !important;
  justify-content: start !important;
  margin-bottom: 10px !important;
}
}
@media (max-width: 1700px)
{
  
  .host{

    .toggler{
      height: 32px !important;
      padding: 0 9px !important;
    }
    .list_item{
      padding: 1px 8px !important;

    }
  }
  .input-wrapper:has(textarea) {
    height: 82px !important;
}
.us-select-container{
  &.fullWidth{
    width: 100% !important;
    .host{
      min-width: 9rem !important;
    }
  }
}

}
@media (max-width: 1400px){
  .host{
    min-width: 10rem !important;
  
  }
}


@media (max-width:991px){

  .us-select-container.fullWidth .host {
    min-width: 8rem !important;
}

}
@media(max-width:768px){
 
  .host .toggler input {
    font-size: 11px !important;
  }
  .us-select-container.fullWidth  .host{
    min-width: 7rem !important;
  }
  .host {
    .list{
      padding: 8px !important;

    }
  }
  .txt-sm{
    font-size: 12px !important;
  }
  .list_item{
    padding: 1px 0px !important;

  }
}

.us-select-container.smallDropDown{
  .txt-sm {
    font-size: 11px !important;
}
  flex-direction: row !important;
  gap: 8px !important;
  max-width: 125px !important;
  .label-widget.w-25{
    min-width: unset !important;
    width: unset !important;
  }
  .host.w-100{
    .list_item{
      column-gap: 0px !important;
      padding: 1px 5px !important;

    }
    .list{
      padding: 4px !important;

    }
    min-width: 3rem !important;
    width: 40% !important;
    .toggler {
      height: 33px !important;
      padding: 0px 4px !important;
      &.focus {
        transition: 0.2s box-shadow;
        border: unset !important;
        box-shadow:unset !important;
      }
  }
  }
  .list_item{
    min-height: 35px !important;

  }

}
.us-select-container{
  &.fullWidthOptions{
    width: 100% !important;
    min-width: unset !important;
    .host{
      min-width: unset !important;
      height: 100% !important;
        }
    .host .toggler {
      height: 100% !important;
  
  }
  .txt-sm {
    font-size: 10px !important;
}
  }
}
