<section class="m-4">
  <div class="d-flex justify-content-between pt-2 align-items-center">
    <div class="d-flex gap-3 flex-column">
      <div>
        <span class="text-primary-800 pointer" (click)="backToCompaigns()">{{ 'campaignsLabel' | translate }}</span> / <span style="color:rgba(134, 134, 134, 1)">{{ compaign?.campaignName }}</span>
      </div>

      <div class="mb-3 d-flex gap-2 align-items-center w-100">
        <p class="txt-lg" style="font-weight: 500;">{{ compaign?.campaignName }}</p>
        <p class="txt-xs mb-2" style="font-weight: 500; color: rgba(134, 134, 134, 1)">{{ compaign?.createdAt | toLocalTime:selectedTimeZone   }}</p>
      </div>
    </div>
    <us-button
    *ngIf="selectedTab=='activity' && length>0"
    class="m-2"
    [label]="'Resend All Items' | translate"
    img="assets/icons/icon resend.svg"
    [fill]="true"
    [size]="'md'"
    [loading]="false"
    [disabled]="false"
    [appearance]="'primary'"
    (clicked)="resendAllCampaigns()"
  >
  </us-button>
  </div>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" color="transparent" (selectedTabChange)="resetTableData($event)">
    <mat-tab >
      <ng-template mat-tab-label>
        <img src="assets/icons/report-icon.svg" alt="" class="px-2">
        {{ 'reportSummaryLabel' | translate }}
      </ng-template>
      <app-reportSummary *ngIf="selectedTab=='summary'" [compaignId]="compaignId" [compaign]="compaign"></app-reportSummary>
    </mat-tab>

    <mat-tab >
      <ng-template mat-tab-label class="txt-md">
        <img src="assets/icons/recip-activite.svg" alt="" class="px-2">
        {{ 'recipientActivitiesLabel' | translate }}
      </ng-template>
      <app-recipientActivities *ngIf="selectedTab=='activity'" (tableDataLength)="getTabLength($event)" [compaignId]="compaignId" [compaign]="compaign"></app-recipientActivities>
    </mat-tab>
  </mat-tab-group>
</section>
