<form [formGroup]="form" class="w-100 h-100 p-5 mt-5 d-flex justify-content-center">
  <div class="d-flex gap-5 flex-column informations-container" style="width:60%">

      <div class="form-group d-flex gap-lg-4 gap-2 flex-column flex-lg-row flex-nowrap ">
        <label for="dateTime" class="w-25  text-nowrap d-flex d-none d-lg-block" style="min-width:25%"
        ><span class="txt txt-sm text-black text-wrap">{{ 'startTimeLabel' | translate }}</span>
      </label>
      <div class="label-widget text-start w-100 d-block d-lg-none">
        <label for="dateTime" class="w-25  text-nowrap d-flex" style="min-width:25%"
        ><span class="txt text-black text-wrap txt-sm" >{{ 'startTimeLabel' | translate }}</span>
      </label>
      </div>
      <div class="w-100">
        <!-- <input #dateTime
          class="rounded-pill border border-1py-2 txt-input w-100 date"
          style="padding: 0 12px;"
          nbInput
          placeholder="{{ 'pickDatePlaceholder' | translate }}"
          [nbDatepicker]="dateTimePicker"
          [formControl]="dateFormControl"
        />
        <nb-date-timepicker withSeconds #dateTimePicker></nb-date-timepicker> -->
 
        <nz-date-picker
        #datePicker
        class="rounded-pill border border-1py-2 txt-input w-100 date"
        style="padding: 0 12px;"
          nzShowTime
          nzFormat="yyyy-MM-dd HH:mm a"
          [formControl]="dateFormControl"
          nzUse12Hours
          [nzShowTime]="{ nzFormat: 'hh:mm a',nzUse12Hours: true }"
          (nzOnOpenChange)="convertToUTC(dateFormControl)"
          [nzRenderExtraFooter]="footerTemplate"
          [nzShowNow]="false"
      >
      <ng-template #footerTemplate>
        <div class="custom-footer d-flex align-items-center justify-content-between" >
          <span class="text-primary-800 pointer" (click)="setDefaultTime()">Now</span>
          <div class="d-flex align-items-center">
            <button class="bg-primary-800 custom-btn-ok text-white pointer" (click)="datePicker?.close();"><span>ok</span></button>
          </div>
        </div>
        </ng-template>
    </nz-date-picker>
      </div>
    </div>

    <us-select
      [isListDevicesDropdown]="true"
      [data]="devices"
      formControlName="devicesData"
      [multiSelect]="false"
      [label]="'Devices'"
      (onSelect)="onSelect($event)"
      [loadingText]="deviceLoadingText"
      [placeholder]="'selectDevicesPlaceholder' | translate"
      [isDisabled]="false"
      [optional]="true"
      [enableSearch]="true"
      [searchbarOnToggler]="true"
      [searchNoResultText]="'noResultText' | translate"
      [maxListItemsWithoutSearch]="5"
    ></us-select>

    <us-input
      [isDisabled]="false"
      value=""
      placeholder="{{ 'enterCampaignNamePlaceholder' | translate }}"
      [optional]="true"
      [maxCharLimit]="50"
      type="text"
      [error]="false"
      [fullWidth]="true"
      formControlName="compainName"
      [label]="'campaignNameLabel' | translate"
      [error]="compainName.touched && compainName.errors?.required"
      [hintText]="compainName.touched && compainName.errors?.required ? ('requiredFieldHint' | translate) : ''"
    ></us-input>
  </div>
</form>
