button{
  color: var(--clr-neutral-0) !important;

  &.button-size-sm {
    min-width: 110px;
    min-height: 38px;
  }

  &.button-size-md {
    min-width: 130px;
    min-height: 50px;

  }

  &.button-size-lg {
    min-width: 165px;
    min-height: 55px;
  }

  &.no-fill-primary{
    background: var( --clr-neutral-0) !important;
        color:var(--clr-primary-800) !important;
        border: 1px solid var(--clr-primary-800) !important;
        &:hover{
          background: #e9f6ff !important;
        }
    }
  &.no-fill-danger{
       background: var( --clr-neutral-0) !important;
        color:var(--clr-danger-700) !important;
        border: 1px solid var(--clr-danger-700) !important;
    }

  &:hover{
    filter: brightness(0.95);
    -webkit-filter: brightness(0.95);
}
&.fullWidth
{
    min-width: auto !important;
    width: 100%;
    height: 100% !important;
    min-height: 40px;

  }
  &.noMinHight{
    min-height: unset !important;
  }
}




.btn-label,.icon,.content{
  font-size: inherit;
  color: inherit ;
}
.txt-xs{
  .icon{
    font-size: 18px;
    width: fit-content;
    height: fit-content;
  }
}
.txt-sm{
  .icon{
    font-size: 20px;
    width: fit-content;
    height: fit-content;
  }
}
.txt-md{
  .icon{
    font-size: 22px;
    width: fit-content;
    height: fit-content;
  }
}
span.btn-label.lable-lg.mx-1{
  font-size: 14px !important;
}
@media (max-width: 1700px)
{
span.btn-label.mx-1 {
  font-size: 11px !important;
}

span.btn-label.lable-lg.mx-1{
  font-size: 14px !important;
}
}
@media (max-width: 768px)
{
  button{
    padding: 4px !important;
  }
  img{
    width: 17%;
    max-width: 1rem;

  }
  button.button-size-md {
    min-width: 112px  !important;
    min-height: 35px !important;
  }
  button.button-size-xl.fullWidth{
    min-height: 35px !important;
  }
  button.button-size-lg {
    min-height: 43px !important;
}

}