  
  <button
  [disabled]="disabled"
  UsButton
  [isDark]="!fill"
  [isLoading]="loading"
  [class]=" appearance == 'primary' && fill?'bg-primary-800 btn rounded-3':'bg-danger-700 btn rounded-3'"
  (click)="setClick($event)"
  [ngClass]="{
    'button-size-sm txt-xs': size == 'sm',
    'button-size-md txt-sm': size == 'md',
    'button-size-lg txt-md': size == 'lg',
    'no-fill-primary':appearance == 'primary' && !fill,
    'no-fill-danger':appearance == 'danger' && !fill,
    fullWidth,noMinHight

  }
  "
>

<div class="content d-flex flex-wrap align-items-center justify-content-center">
  <mat-icon *ngIf="matIcon" class="{{iconClass}} icon mx-1" [ngClass]="{'back-arrow':matIcon=='keyboard_backspace'}">{{matIcon}}</mat-icon>
  <img *ngIf="img" class="mx-2" width="17" src="{{img}}" >
  <span *ngIf="counter > 0" class=" mx-2">{{ counter }}</span>

  <span class="btn-label mx-1" [ngClass]="{'lable-lg' : size == 'lg'}">{{ label }}</span>
</div>
  <!-- <span *ngIf="icon">
    <i class="fa-solid fa-file-export"></i>
  </span>

  <span *ngIf="loading">
    <i class="fa-solid fa-spinner fa-spin-pulse"></i>
  </span> -->
</button>
<ng-container *ngIf="withTooltip">
  <sr-tooltip 
  style="display:inline-block"
  class="mx-2"
  [text]="tooltipMsg"
  >
  </sr-tooltip>
</ng-container>
