<section [ngClass]="{'chat-messages-container':openChat}" class="p-4 mb-2 px-2 d-flex gap-3"
    style="border-radius: 15px;    height: 90vh;">

    <div style="width: 45%;
    max-width: 458px;
    min-width: 385px;" class="mt-1 p-3   d-flex flex-column innerContainer contacts-main-container "
        [ngClass]="{'inactive':openChat}">
        <form [formGroup]="form" class="d-flex">
            <us-select
            [labelTopInMobileView]="false"
            class="my-3"
            [isListDevicesDropdown]="true"
            [deviceLableGap]="true"
            [data]="devices"
            formControlName="devicesData"
            [multiSelect]="true"
            (onSelect)="onSelectDev($event)"
            (onDeSelect)="deselectDev($event)"
            [enableDropdownWhileSearching]="false"
            [loadingText]="deviceLoadingText | translate"
            [placeholder]="'Select Devices' | translate"
            [isDisabled]="false"
            [optional]="true"
            [enableSearch]="true"
            [searchbarOnToggler]="true"
            [searchNoResultText]="'THERE_IS_NO_RESULT' | translate"
            [maxListItemsWithoutSearch]="5"
            [forFiteringOnly]="true"
            [fixedPlaceholder]="true"
          ></us-select>
          
        
        </form>

        <div class="d-flex justify-content-between align-items-center  my-2">

            <div class="d-flex justify-content-between position-relative searchContainer">
                <form [formGroup]="searchForm" class=" p-0 w-100">
                    <input #searchInput 
                    type="text" 
                    class="form-control ps-5  txt-xs" 
                    id="searchInput"
                    placeholder="{{ 'searchPlaceholder' | translate }}" 

                    formControlName="searchControl">
                </form>
                <div class=" px-4  position-absolute start-0 top-50 translate-middle-y">
                    <img src="assets/icons/search.svg" alt="">
                </div>
            </div>

            <div mat-icon-button [matMenuTriggerFor]="menu" class="addBtn addBtn_lg  py-2" >
                <a style="cursor: pointer;">
                    <img src="../assets/icons/chats-icon.svg" alt="">
                </a>
            </div>

                <mat-menu #menu="matMenu">
                    <ng-container *ngFor="let device of devices">
                      <button  mat-menu-item (click)="addNewContact(device.value)">
                        <div class="d-flex gap-2 align-items-center ">
                            <img  [src]="device.deviceIcon | deviceType" alt="" style="width:18px">
                            <span class="txt-xs">{{device.title}}</span>
                        </div>
                      </button>
                     
                    </ng-container>
                  </mat-menu>
                  
        </div>
        <div class="contacts-container" #contactsContainer>
            <ng-container *ngFor="let chatContact of listChats">
                <div class="my-2   p-3 leftContentDesign" [ngClass]="{'active':chatContact.active}"
                    (click)="navigateToChat(chatContact)">
                    <div class="d-flex gap-2 ">
                        <div *ngIf="chatContact.chat.channelType ==1 ; else group" class="deviceContent ">
                            <span>{{chatIcon(chatContact.chat?.chatName)}}</span>
                        </div>
                        <ng-template #group>
                            <img src="assets/icons/groups.svg" class="deviceContent" alt="">
                        </ng-template>
                        <div class="d-flex flex-column justify-content-center ">
                            <div class="d-flex gap-lg-3 gap-2 align-items-center">
                                    <span [dir]="changeTextDir(chatContact.lastMessageContent)"
                                    [ngStyle]="{'text-align': changeTextDir(chatContact.lastMessageContent) === 'rtl' ? 'right' : 'left'}"
                                    class="pOut overflow overflow-line-1 "
                                    >{{chatContact.chat?.chatName}}</span>
                                <div class="d-flex gap-1 align-items-center">
                                    <img id="devType" [ngClass]="{'clr-primary-filter':!chatContact.device?.isDeleted}" [src]="chatContact.device?.deviceType | deviceType" alt="" style="width:15px">
                                    <span
                                    [dir]="changeTextDir(chatContact.lastMessageContent)"
                                    [ngStyle]="{'text-align': changeTextDir(chatContact.lastMessageContent) === 'rtl' ? 'right' : 'left'}"
                                    [ngClass]="chatContact.device?.isDeleted?'text-neutral-600':'text-primary-800'"
                                    class="pOut overflow  overflow-line-1 "
                                    >{{chatContact.device?.deviceName}}</span>
                                </div>
                            </div>
                            <div class=" d-flex gap-2 align-items-center ">
                                <ng-container *ngIf="chatContact?.lastMessageStatus!=null && chatContact?.lastMessageDirection ">
                                    <ng-container [ngSwitch]="chatContact?.lastMessageStatus!">

                                        <div *ngSwitchCase="3" class="chat-contact-img small ">
                                            <span>{{chatIcon(chatContact.chat?.chatName)}}</span>
                                        </div>

                                        <div *ngSwitchCase="1">
                                            <img src="../assets/icons/chats-icon-2.svg" alt="">
                                        </div>

                                        <div *ngSwitchCase="2">
                                            <img src="../assets/icons/right-blue.svg" alt="">
                                        </div>

                                        <div *ngSwitchCase="0">
                                            <span
                                                class="status pending d-flex justify-content-center align-items-center  txt-xs">

                                            </span>
                                        </div>

                                        <mat-icon *ngSwitchCase="4" style="display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            margin: 0 !important;
                                            padding: 0 !important;
                                            width: 13px;" class="text-danger txt-sm">error_outline</mat-icon>
                                    </ng-container>
                                </ng-container>
                                <p *ngIf="chatContact.lastMessageContent && !chatContact.lastMessageFileName"
                                    [dir]="changeTextDir(chatContact.lastMessageContent)"
                                    [ngStyle]="{'text-align': changeTextDir(chatContact.lastMessageContent) === 'rtl' ? 'right' : 'left'}"
                                    class="msg-body m-0 p-0 overflow-line-1 pIn"
                                    style="max-width: 80px ;text-overflow: ellipsis;overflow: hidden;">
                                    {{chatContact.lastMessageContent}}
                                </p>
                                
                                <div *ngIf="!chatContact.lastMessageContent && chatContact.lastMessageFileName"
                                    class="attach-icon d-flex align-items-center gap-2">
                                    <img [src]="(chatContact.fileType ? chatContact.fileType : chatContact.lastMessageFileName) | lastMsgFileType" alt="">
                                    <p [ngStyle]="{'text-align': changeTextDir(chatContact.lastMessageContent) === 'rtl' ? 'right' : 'left'}"
                                        [dir]="changeTextDir(chatContact.lastMessageFileName)"
                                        class="m-0 p-0 overflow-line-1 pIn">{{chatContact.lastMessageFileName}}</p>
                                </div>
                                <div *ngIf="chatContact.lastMessageContent && chatContact.lastMessageFileName"
                                    class="attach-icon d-flex align-items-center gap-2">
                                    <img [src]="(chatContact.fileType ? chatContact.fileType : chatContact.lastMessageFileName) | lastMsgFileType" alt="">
                                    <p [ngStyle]="{'text-align': changeTextDir(chatContact.lastMessageContent) === 'rtl' ? 'right' : 'left'}"
                                        [dir]="changeTextDir(chatContact.lastMessageContent)"
                                        class="msg-body m-0 p-0 overflow-line-1 pIn">{{chatContact.lastMessageContent}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div>
                        <div class="d-flex justify-content-center align-items-center">
                            <ng-container
                                *ngIf="!chatContact?.lastMessageDirection && chatContact?.unseenMessagesCount > 0">

                                <div class="d-flex flex-column justify-content-center align-items-center mx-3">
                                    <div class="messages-count">
                                        <span>{{chatContact?.unseenMessagesCount}}</span>

                                    </div>

                                    <span class="msg-time text-primary-800">{{chatContact?.lastMessageDate
                                        |toLocalTime:selectedTimeZone}}</span>
                                </div>
                            </ng-container>

                            <div style="cursor: pointer;" (click)=" deleteChat(chatContact)">
                                <img src="../assets/icons/Actionsc.svg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </ng-container>


        </div>

    </div>

    <div [ngClass]="{'active':openChat}" class=" chats-container pb-0 "
        style="background-image: url(../assets/images/chat-background.svg)">
        <!-- Header -->
        <div class="chat-header"
        [ngClass]="{'d-none':listChats.length<=0 || selectedChatId==''}"
            style=" border-top-left-radius: 20px;border-top-right-radius: 20px; background: var(--clr-primary-500);">
            <div class="p-3 d-flex justify-content-between align-items-center">
                <div class="d-flex gap-2">
                    <div *ngIf="openChat" class="back-arrow-blue text-primary-800" (click)="backToChats()">
                        <mat-icon>arrow_back</mat-icon>
                    </div>
                    <div *ngIf="!isGroupe ; else iconGroup"  class="deviceContent">
                        <span>{{chatIcon(chatName)}}</span>
                    </div>
                    <ng-template #iconGroup>
                        <img src="assets/icons/groups.svg" class="deviceContent" alt="">
                    </ng-template>
                    <div class="d-flex flex-column gap-1  justify-content-center">
                        <p class="mb-0 pOut">{{chatName}}</p>
                        <p class="pInHeader mb-0 ">{{targetPhoneNumber}}</p>

                    </div>
                </div>
                <ng-container *ngIf="!hideSearch">
                    <div [ngClass]="{'msgSearch-container': isSearch}" #searchContainer>
                        <div *ngIf="!isSearch && sortedDays.length>0" style="cursor: pointer;">
                            <img (click)="toggleSearch()" src="assets/icons/search-blue.svg" alt="">
                        </div>
                        <div *ngIf="isSearch " class="d-flex justify-content-between position-relative msg-search">
                            <form [formGroup]="searchMsgForm" class="p-0 w-100">
                                <input #MsgsearchInput type="text" class="form-control ps-5 txt-xs" id="messageSearchInput"
                                    formControlName="searchMsg"
                                    placeholder="{{ 'searchPlaceholder' | translate }}">
                            </form>
                            <div class="px-4 position-absolute start-0 top-50 translate-middle-y">
                                <img src="assets/icons/search.svg" alt="">
                            </div>
    
    
                        </div>
    
    
                    </div>
                </ng-container>


            </div>
        </div>
        <!-- Bodey -->

        <div class="chat-body" #chatContainer>
            <div class="" *ngFor="let day of sortedDays">
                

                <div class="d-flex justify-content-center timestamp">
                    <span *ngIf="isString(day)">{{ day |translate}}</span>
                    <span *ngIf="!isString(day)">{{ day |toLocalTime:selectedTimeZone}}</span>
                </div> <!-- display chat messages -->
            
                <ng-container *ngFor="let chat of groupedMessages[day]">
                    <!-- messages without files -->
                    <ng-container *ngIf="!chat?.fileName || chat?.fileName === ''; else withFiles">
                        <ng-container [ngSwitch]="chat?.direction">
                            <div *ngSwitchCase="false" class="received-chats">
                                <div class="chat-contact-img">
                                    <span>{{ (chat?.chat?.channelType > 1 || chat?.groupName) ? chatIcon(chat?.targetPhoneNumber) : chatIcon(chatName) }}</span>
                                </div>
                                <div class="received-chats-msg">
                                    <span *ngIf="chat?.chat?.channelType > 1 || chat?.groupName" class="text-primary-800 font-w-700 txt-xs">
                                        {{chat?.targetPhoneNumber}}
                                        </span>
                                    <p>{{ chat?.msgBody }}</p>
                                    <span class="time">{{ chat?.createdAt | timeOnly:selectedTimeZone }}</span>
                                </div>
                            </div>
                            <div *ngSwitchCase="true" class="outgoing-chats ">
                                <div [ngClass]="{'show':chat.updatedAtVisible}" class="updatedAt"
                                    *ngIf="chat?.status > 0 && chat?.status < 4 && chat?.updatedAt">
                                    <span>{{chat?.status == 1?('sentAt' |translate):
                                        chat?.status == 2?('deliveredAt' |translate):
                                        chat?.status == 3?('seenAt' |translate):''}}

                                        {{chat?.updatedAt |timeOnly:selectedTimeZone}}</span>
                                </div>
                                <div class="message-out d-flex flex-column gap-1 align-items-end"
                                    (click)="toggleUpdatedAt(chat)">
                                    <div class="outgoing-chats-msg ">
                                        <p>{{ chat?.msgBody }}</p>
                                        <span class="time">{{ chat?.createdAt | timeOnly:selectedTimeZone }}</span>
                                    </div>

                                    <ng-container *ngIf="chat?.status != null">
                                        <ng-container [ngSwitch]="chat?.status!">
                                            <div *ngSwitchCase="3" class="chat-contact-img small">
                                                <span>{{ chatIcon(chatName) }}</span>
                                            </div>
                                            <div *ngSwitchCase="1">
                                                <img src="../assets/icons/chats-icon-2.svg" alt="">
                                            </div>
                                            <div *ngSwitchCase="2">
                                                <img src="../assets/icons/right-blue.svg" alt="">
                                            </div>
                                            <div *ngSwitchCase="0"
                                                class="d-flex align-items-center justify-content-end w-100">
                                                <span class="status pending d-flex align-items-center txt-xs"></span>
                                            </div>
                                            <mat-icon *ngSwitchCase="4"
                                                style="display: flex; justify-content: center; align-items: center; margin: 0 !important; padding: 0 !important; width: 13px;"
                                                class="text-danger txt-sm">error_outline</mat-icon>
                                        </ng-container>
                                    </ng-container>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                    <!-- with files -->
                    <ng-template #withFiles>
                        <ng-container [ngSwitch]="chat?.direction">
                            <div *ngSwitchCase="false" class="received-chats"
                                [ngClass]="{'align-items-start':(chat?.fileName && chat?.fileName !== '') && chat?.msgBody == ''  && (!chat?.fileUrl.includes('image') || (chat?.fileName | type ) !=='assets/images/image.svg')}">
                                <div class="chat-contact-img">
                                    <span>{{ (chat?.chat?.channelType > 1 || chat?.groupName) ? chatIcon(chat?.targetPhoneNumber) : chatIcon(chatName) }}</span>
                                </div>
                                <div class="received-chats-msg"
                                    [ngClass]="{'received-files-only': (chat?.fileName && chat?.fileName !== '') && chat?.msgBody == '' && (chat?.chat?.channelType === 1 || !chat?.groupName) }">
                                    <span *ngIf="chat?.chat?.channelType > 1 || chat?.groupName" class="text-primary-800 font-w-700 txt-xs">
                                        {{chat?.targetPhoneNumber}}
                                        </span>
                                    <ng-container *ngIf="chat?.fileName">
                                        <div *ngIf="(chat.fileUrl.includes('image') || (chat?.fileName | type ) === 'assets/images/image.svg'); else otherType"
                                            class="d-flex justify-content-center ">

                                            <img class="mx-1 mb-1 w-100 image" [src]="chat.fileUrl" alt="">
                                        </div>
                                        <ng-template #otherType>
                                            <a class="pointer" [href]="chat.fileUrl" target="_blank"
                                                [title]="'open' | translate"><img class="media mb-1"
                                                    [src]="chat.fileName | type" alt=""></a>
                                        </ng-template>
                                    </ng-container>
                                    <div>
                                        <p class="mt-1" *ngIf="chat?.msgBody !== '' ">{{ chat?.msgBody }}</p>
                                        <span class="time">{{ chat?.createdAt | timeOnly:selectedTimeZone }}</span>
                                    </div>
                                </div>
                            </div>
                            <div *ngSwitchCase="true" class="outgoing-chats"
                                [ngClass]="{'align-items-start':(chat?.fileName && chat?.fileName !== '') && chat?.msgBody == ''  && (!chat?.fileUrl.includes('image') || (chat?.fileName | type ) !=='assets/images/image.svg')}">
                                <div [ngClass]="{'show':chat.updatedAtVisible}" class="updatedAt"
                                    *ngIf="chat?.status > 0 && chat?.status < 4 && chat?.updatedAt">
                                    <span>{{chat?.status == 1?('sentAt' |translate):
                                        chat?.status == 2?('deliveredAt' |translate):
                                        chat?.status == 3?('seenAt' |translate):''}}

                                        {{chat?.updatedAt |timeOnly:selectedTimeZone}}</span>
                                </div>
                                <div class="message-out d-flex flex-column gap-1 align-items-end"
                                    (click)="toggleUpdatedAt(chat)">
                                    <div class="outgoing-chats-msg"
                                        [ngClass]="{'outgoing-files-only': (chat?.fileName && chat?.fileName !== '') && chat?.msgBody == ''  }">
                                        <ng-container *ngIf="chat?.fileName">
                                            <div *ngIf="(chat.fileUrl.includes('image') || (chat?.fileName | type ) === 'assets/images/image.svg') ; else otherType"
                                                class="d-flex justify-content-center ">
                                                <img class="mx-1 mb-1 w-100 image" [src]="chat.fileUrl" alt="">
                                            </div>
                                            <ng-template #otherType>
                                                <a class="pointer" [href]="chat.fileUrl" target="_blank"
                                                    [title]="'open' | translate"><img class="media mb-1"
                                                        [src]="chat.fileName | type" alt=""></a>
                                            </ng-template>
                                        </ng-container>
                                        <div>
                                            <p class="mt-1" *ngIf="chat?.msgBody !== '' ">{{ chat?.msgBody }}</p>
                                            <span class="time">{{ chat?.createdAt | timeOnly:selectedTimeZone }}</span>
                                        </div>
                                    </div>
                                    <ng-container *ngIf="chat?.status != null">
                                        <ng-container [ngSwitch]="chat?.status!">
                                            <div *ngSwitchCase="3" class="chat-contact-img small">
                                                <span>{{ chatIcon(chatName) }}</span>
                                            </div>
                                            <div *ngSwitchCase="1">
                                                <img src="../assets/icons/chats-icon-2.svg" alt="">
                                            </div>
                                            <div *ngSwitchCase="2">
                                                <img src="../assets/icons/right-blue.svg" alt="">
                                            </div>
                                            <div *ngSwitchCase="0"
                                                class="d-flex justify-content-end align-items-center w-100">
                                                <span class="status pending d-flex align-items-center txt-xs"></span>
                                            </div>
                                            <mat-icon *ngSwitchCase="4"
                                                style="display: flex; justify-content: center; align-items: center; margin: 0 !important; padding: 0 !important; width: 13px;"
                                                class="text-danger txt-sm">error_outline</mat-icon>
                                        </ng-container>
                                    </ng-container>
                                </div>

                            </div>

                        </ng-container>
                    </ng-template>
                </ng-container>
            </div>





        </div>
        <!-- footer -->
        <div class="attachments-review">
            <app-attachments (onRemoveFile)="disableButtonOrnot()" [files]="filesList"></app-attachments>
        </div>
        <div *ngIf="listChats?.length>0" class="chats-footer w-100 p-3 bg-primary-500">
            <div class="d-flex gap-3  chat-message-container" style="width: 95%;">
                <div class="d-flex align-items-center justify-content-around" style="width: 10%; max-width: 70px;    gap: 5px;
                ">
                    <div class="attachments pointer" (click)="openFileUploader()">
                        <input #fileInput class="d-none" multiple type="file" (change)="onChangeFile($event)">
                        <img src="../assets/icons/Fill 1.svg" alt="">
                    </div>

                    <ng-container>
                        <div class="position-relative" (appClickOutside)="showEmoji = false ;isEmojiClicked=false">
                            <div (click)="isEmojiClicked = !isEmojiClicked" class="emojes-icon ">
                                <img src="../assets/icons/emojes.svg" alt="">
                            </div>

                            <emoji-mart *ngIf="showEmoji || isEmojiClicked"
                                (mouseover)="!isEmojiClicked && (showEmoji=true)"
                                class="emoji-pick chat-emoji-picker  start-0  position-absolute"
                                (emojiClick)="addEmoji($event)" [enableSearch]="false" [darkMode]="false"
                                [showPreview]="false" color="var(--clr-primary-600)">
                            </emoji-mart>
                        </div>

                    </ng-container>

                </div>



                <form style="width:95%;" emojiTextarea [formGroup]="messageForm" class="d-flex">
                    <textarea class=" form-control" id="emojiTextarea" formControlName="message"
                        (keydown.enter)="sendMsg($event)" (keyup)="getCursorPosition($event)"
                        (click)="getCursorPosition($event) "
                        (input)="detectLanguage($event.target.value); disableButtonOrnot()" [dir]="textDirection"
                        [placeholder]="'Type a message' |translate"></textarea>
                </form>
            </div>
            <button style="width: 5%;" class="sendBtn" [disabled]="disable" [ngClass]="{disable}"
                style="cursor: pointer;" (click)="sendMsg()" [title]="activeChat?.device?.isDeleted? ('device_is_deleted' |translate):''">
                <img src="../assets/icons/send.svg" alt="">
            </button>
        </div>


    </div>

</section>