<section class="p-3">

  <div class="d-flex justify-content-between pt-2 align-items-center">
    <div class="d-flex gap-3 flex-column ">
      <div >
        <span class="text-primary-800 pointer "(click)="backTolists()" >{{ 'LISTS' | translate }}</span> / <span style="color:rgba(134, 134, 134, 1)">{{ list?.name }}</span>
      </div>

      <div *ngIf="list?.createdAt" class="mb-3 d-flex gap-2 align-items-center w-100"><p class="txt-lg" style="font-weight: 500;">{{ list?.name }}</p> <p class="txt-xs mb-2" style="font-weight: 500; color:rgba(134, 134, 134, 1)">{{ list?.createdAt | toLocalTime:selectedTimeZone     }}</p></div>

    </div>
    <div class="buttons_ d-flex flex-wrap align-items-center">
      <us-button
      *ngIf="isChecked  && canEdit && tab=='contacts'"
        class="m-2"
        label="{{ 'DELETE' | translate }}"
        img="assets/icons/delete.svg"
        [iconClass]="'material-symbols-outlined'"
        [fill]="true"
        [size]="'md'"
        [loading]="false"
        [disabled]="false"
        [appearance]="'danger'"
        (clicked)="openDeleteConModal()"
      ></us-button>
      <us-button
      *ngIf="isChecked && tab=='contacts'  && canEdit "
        class="m-2"
        label="{{ 'REMOVE_FROM_LIST' | translate }}"
        img="assets/icons/delete.svg"
        [iconClass]="'material-symbols-outlined'"
        [fill]="true"
        [size]="'md'"
        [loading]="false"
        [disabled]="false"
        [appearance]="'danger'"
        (clicked)="removeContacts()"
      ></us-button>
      <us-button
      *ngIf="tab=='contacts'  && canEdit && !isChecked"
      class="m-2"
      label="{{ 'ADD_CONTACT' | translate }}"
      [matIcon]="'add'"
      [fill]="true"
      [size]="'md'"
      [loading]="false"
      [disabled]="false"
      [appearance]="'primary'"
      (clicked)="openContactLists()"
    ></us-button>
    <us-button
    *ngIf="tab=='canceled'  && canEdit && isChecked"
    class="m-2"
    [label]="'UnCancel' | translate"
    [matIcon]="''"
    [fill]="true"
    [size]="'md'"
    [loading]="false"
    [disabled]="false"
    [appearance]="'primary'"
    (clicked)="openUnCancelContactsModal()"
  ></us-button>
  <ng-container  *ngIf="tab=='contacts' && !isChecked  && canEdit ">
    <div #importMenu  class="mx-2">
    <button mat-button [matMenuTriggerFor]="menu" class=" import-button text-neutral-0 bg-primary-800 rounded-3 ">
      <div class="import-menu d-flex align-items-center justify-content-center gap-3">
        <div class="icon">
          <img src="assets/icons/import.svg" alt="" style="width:19px"/>
        </div>
        {{ 'IMPORT_FILE' | translate }}
        <div class="icon">
          <img src="assets/icons/polygon.svg" alt="" />
        </div>
      </div>
    </button>
  </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openImportModal('excel')" [ngStyle]="{'width':getWidth(importMenu)}">
        <div class="d-flex align-items-center gap-2">
          <img src="assets/icons/Excel.svg" alt="" /> 
          <span>Excel Sheet</span>
        </div>
        
      </button>
      <button mat-menu-item (click)="openImportModal('vcf')" [ngStyle]="{'width':getWidth(importMenu)}">
        <div class="d-flex align-items-center gap-2">
          <img src="assets/icons/vcf.svg" alt="" />
          <span>vcf file</span>
        </div>
      </button>
    </mat-menu>
  </ng-container>
  <ng-container  *ngIf="tab=='contacts'">

    <div #exportMenu   class="mx-2">
  <button  mat-button [matMenuTriggerFor]="menu2" class="export-button text-neutral-0 bg-primary-800 rounded-3 ">
    <div class="export-menu d-flex align-items-center justify-content-center gap-3">
      <div class="icon">
        <img src="assets/icons/export.svg" alt="" style="width:14px"/>
      </div>
      {{ isChecked?('EXPORT_SELECTED' | translate):'EXPORT_ALL' | translate}}
      <div class="icon">
        <img src="assets/icons/polygon.svg" alt="" />
      </div>
    </div>
  </button>
  </div>
  <mat-menu #menu2="matMenu">
    <button mat-menu-item (click)="isChecked ? exportSelectedContactsAs('excel') :exportAllContactsAs('excel')" [ngStyle]="{'width':getWidth(exportMenu)}">
      <div class="d-flex align-items-center gap-2">
        <img src="assets/icons/Excel.svg" alt="" /> 
        <span>Excel Sheet</span>
      </div>
    </button>
    <button mat-menu-item (click)="isChecked ? exportSelectedContactsAs('vcf') :exportAllContactsAs('vcf')" [ngStyle]="{'width':getWidth(exportMenu)}">
      <div class="d-flex align-items-center gap-2">
        <img src="assets/icons/vcf.svg" alt="" />
        <span>vcf file</span>
      </div>
    </button>
  </mat-menu>
  </ng-container>

      <!-- <us-button
        class="m-2"
        [label]="isChecked ? ('EXPORT_SELECTED'| translate) : 'EXPORT_ALL' | translate"
        img="assets/icons/export.svg"
        [fill]="true"
        [size]="'md'"
        [loading]="false"
        [disabled]="false"
        [appearance]="'primary'"
        (clicked)="isChecked ? exportSelectedContacts() : exportAllContacts()"
      ></us-button> -->
    </div>

  </div>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" color="transparent" (selectedTabChange)="changeModal($event)">

    <mat-tab>
      <ng-template mat-tab-label>
        <span class="text-primary-800 mx-2" style="font-weight: 800;">{{totalContacts }}</span>
          {{ 'CONTACTS' | translate }}

      </ng-template>
      <ng-container *ngIf="tab == 'contacts'">
        <app-list-contacts [canEdit]="canEdit"  [selectedTimeZone]="selectedTimeZone"  [count]="count" [isCanceled]="false" [listData]="list" (updatedCount)="updateTotalContacts($event)" (isChecked)="onChecked($event)"></app-list-contacts>
      </ng-container>
    </mat-tab>

    <!-- <mat-tab>
      <ng-template mat-tab-label >
        <span class="text-primary-800 mx-2" style="font-weight: 800;">{{totalCanceledContacts }}</span>
          {{ 'CANCELED' | translate }}
      </ng-template>
      <ng-container *ngIf="tab == 'canceled'">
      <app-list-contacts [canEdit]="canEdit" [count]="count" [isCanceled]="true" (updatedCount)="updateTotalContacts($event)"></app-list-contacts>
      </ng-container>
    </mat-tab> -->
  </mat-tab-group>

</section>
