    <div
    class="us-toaster d-flex  flex-column p-3 position-relative"
    [ngClass]="{
      'error': state == 'error',
      'warning': state == 'warning',
      'success': state == 'success'
    }"
  >
    <div  class="toaster-content d-flex  h-100">
      <span class="toaster-icon" *ngIf="state == 'error'">
        <img src="assets/icons/error.svg" alt="" />
      </span>
      <span class="toaster-icon" *ngIf="state == 'warning'">
            <img src="assets/icons/warning.svg" alt="" />
      </span>
      <span class="toaster-icon" *ngIf="state == 'success'">
        <img src="assets/icons/succsess.svg" alt="" />

      </span>
      <p *ngIf="!isHtml" style="
        margin: 0 !important;
        max-width: 78%;
    ">{{ translate && (message | errorTranslate)? (message | translate):
        translate && !(message | errorTranslate) ? ('COMMON.ERR' | translate)
      : message }}</p>
      <p *ngIf="isHtml" style="
        margin: 0 !important;
        max-width: 78%;
    " [innerHTML]="safeHtml"></p>
    </div>
    <mat-icon class="position-absolute top-0 end-0 m-3 pointer" (click)="onTagClose($event)">close</mat-icon>
  <span class="toaster-progress-bar position-absolute bottom-0 start-0"
      [ngStyle]="{'animation-duration': duration/1000+'s'}"
      [ngClass]="{
        'progress-error': state == 'error',
        'progress-warning': state == 'warning',
        'progress-success': state == 'success'
      }"
  ></span>
</div>
