
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
.message{
    font-family:'Poppins', 'Noto Color Emoji' !important;

}
._image{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--clr-neutral-400);
  &.seen{
    width: 25px !important;
    height: 25px !important;
    font-size: 10px;
  }
}
h2{
  font-size: 16px;

}
.message{
  line-height: 1.8;
}
p{
  overflow-wrap: break-word;
}
.message-container{
  position: relative;

  ::before{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -20px;
    height: 1px;
    background-color: var(--clr-neutral-400);
  }
}

.line{
  width: 100%;
  height: 1px;
  background-color: var(--clr-neutral-400);
}
.status{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  &.sent{
    border: 1px solid var(--clr-primary-800);
    color: var(--clr-primary-800);
  }
  &.pending{
    color: var(--clr-neutral-0);
    background-color: var(--clr-neutral-0);
    border: 1px solid var(--clr-primary-800);
  }
  &.delevered{
    background-color:var(--clr-primary-800) ;
    color: var(--clr-neutral-0);

  }


}
.media{
  width: 46% !important;
  max-width: 200px;
}
.media , .image{
  margin-top: 20px;

}
@media (max-width:1400px){
  .media{
    width:44% !important;
  }
  h2.mb-0 {
    font-size: 13px !important;
  }
  ._image {
    width: 35px !important;
    height: 34px !important;
  }
}
.recipient{
  padding: 20px 30px;

}
@media(max-width:768px){
  section{
    overflow: hidden;
    .message-body-container{
      margin-inline: 8px !important;
      .message-body{
        max-width: 100% !important;
        overflow: auto;
        max-height: 300px !important;
        padding-inline: 10px !important;
      }
    }
   
  }
  .recipient{
    padding: 16px 40px !important;

  }
  .recipients-container{
    max-width: 100% !important;
    overflow: auto;
    max-height: 300px !important;
  }
  img.image{
    width: 100% !important;

  }
  img.media{
    width: 44% !important;

  }
  .message{
    line-height: 1.6 !important;
    margin-inline: 12px !important;
}
}