<section class="h-100 position-relative d-flex px-3 flex-column">

  <div class="position-absolute end-0 pointer ranslate-middle-y mx-3 zi-3 close-icon " style="height: 5%; top:14px ">
    <img
      src="assets/icons/close-circle.svg"
      (click)="onClose()"
      alt="close-icon"
      style="cursor: pointer; width: 20px;"
    />
  </div>
  <div *ngIf="!isScheduleN && !isTemplate" class="d-flex gap-4 mt-4 flex-column" style="
  direction: ltr;
">
      <div class="devData-container d-flex w-100 justify-content-between mt-2 px-4">
        <ng-container [ngSwitch]="isScheduleM">

          <ng-container *ngSwitchCase="false" >
            <div class="device-data d-flex gap-3">
              <div class="_image d-flex justify-content-center align-items-center">
                  <span class="text-neutral-0 txt-sm">{{userName}}</span>
              </div>
              <div class="d-flex justify-content-center  flex-column">
                <h2 class="mb-0">{{message?.chat.chatName}}</h2>

                <span class="txt-xs text-neutral-500" style="    text-align: start !important;">{{message?.chat.targetPhoneNumber}}</span>

              </div>
            </div>
          </ng-container>
          <ng-container  *ngSwitchCase="true">
            <h2 class="mb-0">{{schedule?.device?.deviceName}}</h2>
          </ng-container>
        </ng-container>


        <div class="date-time d-flex justify-content-center ">
          <span class="txt-sm text-neutral-500 p-2">{{message?.createdAt  | toLocalTime:selectedTimeZone }}</span>
        </div>
      </div>
      <div class="message-container">

        <div class="mx-4 message-body-container">

          <ng-container [ngSwitch]="isScheduleM">
            <div class="message-body" style="    max-width: 96%;
            ">
            <p *ngSwitchCase="true" class="txt-md mx-3 text-neutral-900 message">{{schedule?.msgBody |textMasking}}</p>
            </div>

            <ng-container *ngSwitchCase="false">
              <div class="message-body" style="    max-width: 96%;
              ">
                <p  class="txt-md mx-3 mb-2 text-neutral-900 message">{{message?.msgBody|textMasking}}</p>
          
                <ng-container *ngIf="message?.fileName">
                    <img *ngIf="(message?.fileName | type )=='assets/images/image.svg' else otherType"  class="mx-1 mb-1 w-100 image" [src]="message.fileUrl" alt="">
                    <ng-template #otherType>
                      <a  class="pointer " [href]="message.fileUrl" target="_blank" [title]="'open' | translate" ><img   class="media" [src]="message.fileName | type" alt=""></a>
  
                    </ng-template>
                </ng-container>
              </div>

              <ng-container *ngIf="message?.status!=null ">
              <ng-container *ngIf="message.status!=3 && message.status!=4">

                <mat-icon
                [ngClass]="{'pending':message.status==0,
                            'sent':message.status==1,
                            'delevered':message.status==2}"
                class="status position-absolute end-0 bottom-0 d-flex justify-content-center align-items-center  txt-xs">check</mat-icon>

              </ng-container>

              <ng-container *ngIf="message.status==3">

                <div class="_image seen d-flex justify-content-center position-absolute end-0 bottom-0 align-items-center">
                  <span class="text-neutral-0 ">{{userName}}</span>
              </div>
              </ng-container>

              <ng-container *ngIf="message.status==4">


              </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
  </div>
  <div *ngIf="isTemplate">
    <div class="message-container">

      <div class="mx-4 message-body-container">

        <div class="message-body" style="    max-width: 96%;
        ">
          <p  class="txt-md mx-3 mb-2 mt-4 text-neutral-900 message">{{template?.messageBody |textMasking}}</p>
          <ng-container *ngFor="let attachment of template?.attachments">

          <ng-container *ngIf="attachment.fileName">
              <img *ngIf="(attachment?.fileName | type )=='assets/images/image.svg' else otherType"  class="mx-1 mb-1 w-100 image" [src]="attachment.fileUrl" alt="">
              <ng-template #otherType>
                <a  class="pointer " [href]="attachment.fileUrl" target="_blank" [title]="'open' | translate" ><img   class="media" [src]="attachment.fileName | type" alt=""></a>
              </ng-template>
          </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isScheduleN  && !isTemplate" class="mt-4" style="
  direction: ltr;
">
    <h2 class="ms-4 txt-lg">{{ 'RECIPIENT_LABEL' | translate }}</h2>
    <div class="recipients-container">
      <ng-container *ngFor="let item of recipients">
        <div class="recipient d-flex justify-content-between  ">
          <span class="txt-md ">{{item.name}}</span>
          <span class="txt-md "> {{item.number}}</span>
        </div>
        <div class="line"></div>
        
    </ng-container>
    </div>
  
  </div>
</section>
