.options-container{
    position: relative;
    &:hover ,&.active{
            .options{
                background-color: var(--clr-primary-500);

            }
    }
}
.menu-container{
    position: relative;
    width: fit-content;
}
.options-container:hover + .hide-options-menu {
    display: block !important;
  }
.options-container{
    border: 0.4px solid #C7C6C6;
    background-color: white;
    box-shadow: 0px 2px 4px 0px #0000001A;
    border-radius: 8px;
    font-size: 10px;
    padding: 5px;
    img{
        width: 15px;
        margin-inline: 3px;
    }
    mat-icon{
        height: 20px;
        width: 20px;
        font-size: 20px;
    }
    .options{
        min-width: 145px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 5px;

    }
}
.hide-options-menu{
    min-width: 216px;
    padding: 20px 13px;
    border-radius: 8px;
    border: 0.4px solid #C7C6C6;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1019607843);
    font-size: 12px;
    position: absolute;
    left: 103%;
    top: 0;
    z-index: 10000;
    display: none;
    
}
.start,.end{
    width: 50px;
    height: 28px;

}
@media(max-width:768px){
    .hide-options-menu{
        min-width: 145px !important;
        padding: 7px;
    }
    .hide-options-menu{
        font-size: 10px !important;
    }
    .start,.end{
        width: 46px !important;
    }
    .directions{
        width: 70px !important;
    }
    .options-container .options {
        min-width: 130px !important;
        padding: 4px 2px;
        
    }
}
.submit_btn{
    width: 85px;
    height: 30px;
}