<div class="d-flex gap-4 mt-5 flex-column component-container">
  <div class="d-flex mt-3 w-100 gap-3 summary-state-container">
    <div class=" summary-state d-flex justify-content-between pending align-items-center px-4 py-2" >
      <div class="d-flex gap-4 flex-column summary-state-content">
        <h4 class="txt-md" style="font-weight: 500;">{{ 'PENDING' | translate }}</h4>
        <p style="font-weight: 500; font-size: 32px;" class="fw-bold">{{ statics?.pendingCount }}</p>
      </div>

      <div class="d-flex justify-content-center align-items-center  summary-icon" >
        <img src="assets/icons/4.svg" alt="" class="w-100" />
      </div>
    </div>

    <!-- Sent -->
    <div class=" summary-state d-flex justify-content-between sent align-items-center px-4 py-2" >
      <div class="d-flex gap-4 flex-column summary-state-content">
        <h4 class="txt-md" style="font-weight: 500;">{{ 'SENT' | translate }}</h4>
        <p style="font-weight: 500; font-size: 32px;" class="fw-bold">{{ statics?.sentCount }}</p>
      </div>

      <div class="d-flex justify-content-center align-items-center  summary-icon" >
        <img src="assets/icons/sent.svg" alt="" class="w-100"  />
      </div>
    </div>

    <!-- Delivered -->
    <div class=" summary-state d-flex justify-content-between delivered align-items-center px-4 py-2" >
      <div class="d-flex gap-4 flex-column summary-state-content">
        <h4 class="txt-md" style="font-weight: 500;">{{ 'DELIVERED' | translate }}</h4>
        <p style="font-weight: 500; font-size: 32px;" class="fw-bold">{{ statics?.deliveredCount }}</p>
      </div>

      <div class="d-flex justify-content-center align-items-center  summary-icon" >
        <img src="assets/icons/delivered.svg" alt="" class="w-100"  />
      </div>
    </div>

    <!-- Read -->
    <div class=" summary-state d-flex justify-content-between read align-items-center px-4 py-2" >
      <div class="d-flex gap-4 flex-column summary-state-content">
        <h4 class="txt-md" style="font-weight: 500;">{{ 'READ' | translate }}</h4>
        <p style="font-weight: 500; font-size: 32px;" class="fw-bold">{{ statics?.readCount }}</p>
      </div>

      <div class="d-flex justify-content-center align-items-center  summary-icon" >
        <img src="assets/icons/2.svg" alt="" class="w-100" />
      </div>
    </div>

    <!-- Undelivered -->
    <div class=" summary-state d-flex justify-content-between undelivered align-items-center px-4 py-2">
      <div class="d-flex gap-4 flex-column summary-state-content">
        <h4 class="txt-md" style="font-weight: 500;">{{ 'UNDELIVERED' | translate }}</h4>
        <p style="font-weight: 500; font-size: 32px;" class="fw-bold">{{ statics?.undeliveredCount }}</p>
      </div>

      <div class="d-flex justify-content-center align-items-center  summary-icon" >
        <img src="assets/icons/5.svg" alt="" class="w-100" />
      </div>
    </div>

  </div>
  <div >
    <h4 class="total-delevired" style="font-size: 32px; font-weight: 600; margin-bottom: 0 !important;" >
      {{ 'TOTAL' | translate }}: <span>{{ statics?.pendingCount + statics?.sentCount }}</span>
    </h4>
  </div>

  <div class="w-100 p-4 mb-3 summary-container " style="background-color: white; border-radius: 16px; overflow-y: auto; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);">
    <div>
      <h4 class="txt-lg" style="font-weight: 600">{{ 'MESSAGE_CONTENT' | translate }}</h4>
      <p class="msg-body">
        {{ statics?.messageContent | textMasking }}
      </p>
      <div class="d-flex w-100 gap-2 flex-wrap" *ngIf="compaign?.attachments">
        
        <ng-container *ngFor="let attachment of compaign?.attachments">
          <a  class="pointer " 
          [href]="attachment.fileUrl" 
          target="_blank" 
          [title]="'open' | translate" >
          <img   [src]="attachment.fileName | type" alt="" class="attachment">
          </a>
        </ng-container>
      </div>
    </div>
    <div class="line my-5">
    </div>
    <div class="campaign-setting mb-2 p-3" style="width: 725px;">
    
      <h4 class="txt-lg mb-5" style="font-weight: 600">{{ 'Campaign Settings' | translate }}</h4>
      <div class="campaign-setting-body">
        <div class="interval d-flex justify-content-between mb-4 txt-md" style="width: 470px;">
          <span style="font-weight: 500; display: inline-flex ;  width: 260px;">{{ 'Randomize interval' | translate }}</span> 
          <div class="d-flex justify-content-between " style="width: 150px;">
            <span>{{compaign?.intervalFrom}}</span> 
            <span class="mx-3">:</span>
            <span>{{compaign?.intervalTo}}</span> 
          </div>
        </div>
  
        <!-- <div class="max-recepient d-flex justify-content-between  mb-4 txt-md" style="width: 335px;">
          <span style="font-weight: 500; display: inline-flex ; width: 260px;">{{ 'Max recipients per day' | translate }}</span> 
          <span>{{compaign?.maxPerDay}}</span> 
  
        </div> -->
  
  
        <div class="sending-time  d-flex justify-content-between mb-4 txt-md" style="width: 470px;">
          <span style="font-weight: 500; display: inline-flex ;width: 260px;">{{ 'Sending out time' | translate }}</span> 
          <div class="d-flex justify-content-between sending-out" style="       width: 170px;
          ;">
            <span>{{compaign?.sendingoutFrom}}</span> 
            <span class="mx-3">:</span>
            <span>{{compaign?.sendingoutTo}}</span> 
          </div>
        </div>
      </div>

    </div>
    <div class="line my-5">
    </div>
    <div class="campaign-setting mb-2 p-3">
    
      <h4 class="txt-lg mb-5" style="font-weight: 600">{{ 'campaignActions' | translate }}</h4>
      <div class="campaign-setting-body">

        <div class=" d-flex justify-content-between  mb-4 txt-md" style="min-width: 353px;
        width: fit-content;">
          <span style="font-weight: 500; display: inline-flex ; width: 260px;">{{ 'MessageAfterTimeOut' | translate }}</span> 
          <span class="msg-body">{{compaign?.sessionTimeOutResponseContent}}</span> 
        </div>

        <div class=" d-flex justify-content-between  mb-4 txt-md session-time-out" style="width: 335px;">
          <span style="font-weight: 500; display: inline-flex ; width: 260px;">{{ 'sessionTimeOut' | translate }}</span> 
          <span>{{compaign?.sessionTimeOutMinutes}}</span> 
        </div>

      </div>

    </div>
    <div *ngIf="campainHasActions" class="campain-actions">
      <div class="table-container " >
        <div class="table-inner-container">
    
          <table mat-table [dataSource]="dataSource" >
            <!-- Index Column -->
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let i = index"> {{ i + 1 }} </td>
            </ng-container>

            <!-- Action_Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef >{{ 'Action_Name' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.actionName }}</td>
            </ng-container>
      
            <!-- criterias Column -->
            <ng-container matColumnDef="criterias">
              <th mat-header-cell *matHeaderCellDef >{{ 'criteria' | translate }}</th>
              <td mat-cell *matCellDef="let element">

                <div *ngIf="element.actionCriteras.length>0 " class="actions-container w-100 d-flex justify-content-center">

                  <div  class=" position-relative criterias " >
                    <div class="d-flex gap-2 overflow-hidden criterias-wrapper px-4 w-100" [ngClass]="{'justify-content-center' :element.actionCriteras.length === 1 }" #listsWrapper >
                      <div *ngFor="let item of element.actionCriteras" [title]="item" class="criteriaName bg-white text-nowrap px-2 py-1 rounded-2">
                        {{item}}
                      </div> 

                    </div>
                    <ng-container *ngIf="element.actionCriteras.length>2 ">
                      <div  *ngIf="!element.hideRightArrow"  (click)="scrollRight(element,listsWrapper)" class="right-arrow position-absolute end-0 top-0 h-100 d-flex justify-content-end align-items-center" style="width: 50%">
                        <img  src="assets/icons/arrow.svg" alt="">
                      </div>
                      <div *ngIf="!element.hideLeftArrow" (click)="scrollLeft(element,listsWrapper)" class="left-arrow position-absolute start-0 top-0 h-100 d-flex justify-content-center align-items-center" style="width: 16%;">
                        <img  src="assets/icons/arrow.svg" alt="">
                      </div>
                    </ng-container>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></tr>
      
          </table>
        </div>
        <div *ngIf="loading" class="spinner-container p-3">
          <svg width="70" height="70" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_0XTQ{transform-origin:center; animation:spinner_y6GP .75s linear infinite}@keyframes spinner_y6GP{100%{transform:rotate(360deg)}}</style><path class="spinner_0XTQ" d="M12,23a9.63,9.63,0,0,1-8-9.5,9.51,9.51,0,0,1,6.79-9.1A1.66,1.66,0,0,0,12,2.81h0a1.67,1.67,0,0,0-1.94-1.64A11,11,0,0,0,12,23Z"/></svg>
        </div>
        <div *ngIf="noData && !loading" class="d-flex justify-content-center align-items-center flex-column gap-3 h-100  w-100" >
          <img src="assets/images/files.svg" alt="" style="    width: 40%;    max-width: 143px;
    
          ">
          <span class="text-neutral-600" style="font-size: 20px; font-weight: 600;">{{ 'NO_DATA' | translate }}</span>
        </div>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>
